data-pipelines/Twitch_pull_data.json
{"flowContents":{"identifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","instanceIdentifier":"b55980b5-0197-1000-23da-f728c5fb0b8d","name":"Twitch_pull_data","comments":"","position":{"x":144.0,"y":-32.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3ea75a80-23c6-3913-9cbf-12527a38b378","instanceIdentifier":"37b6b951-6350-32fe-4e38-ef7ba161aeed","name":"UpdateAttribute","comments":"","position":{"x":-40.0,"y":-544.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","grant_type":"client_credentials","client_secret":"6k5w8r6n81nee9d2tmbs5oex7ipr3t","Stateful Variables Initial Value":null,"client_id":"w01xjmvm7n94axn4m6extk75m0c3r1","page_count":"1"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"grant_type":{"name":"grant_type","displayName":"grant_type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"client_secret":{"name":"client_secret","displayName":"client_secret","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client_id":{"name":"client_id","displayName":"client_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"page_count":{"name":"page_count","displayName":"page_count","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d60c-0197-1000-96d0-9ce770024eb3","instanceIdentifier":"63be7b5b-58bb-39ea-f2eb-0cabcb5c8a42","name":"EvaluateJsonPath","comments":"","position":{"x":960.0,"y":-304.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"access_token":"$.access_token","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"access_token":{"name":"access_token","displayName":"access_token","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d612-0197-1000-4dff-42a54d351c97","instanceIdentifier":"787fd9ba-36b1-3cf1-98a3-299f50d626d2","name":"EvaluateJsonPath","comments":"","position":{"x":-8.0,"y":552.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"cursor":"$.pagination.cursor","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","last_viewer_count":"$.data[-1].viewer_count","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"cursor":{"name":"cursor","displayName":"cursor","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"last_viewer_count":{"name":"last_viewer_count","displayName":"last_viewer_count","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"dddd747c-99a4-3a30-b5c2-358538e79b02","instanceIdentifier":"ee1454ce-ede0-3cfb-b5e5-302ea34803ea","name":"GenerateFlowFile","comments":"","position":{"x":-24.0,"y":-1408.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"werth","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"10 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"ea73067d-07ed-33c6-b085-ae5166c8f4fc","instanceIdentifier":"3e2d8e69-7220-3713-d54e-a78b397264ee","name":"JoltTransformJSON","comments":"","position":{"x":48.0,"y":1552.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.4.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"data\": \"=toString(@(1,data))\"\n    }\n  }\n]\n"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"1f7fcfe1-4009-3592-a617-f30cfe275a4f","instanceIdentifier":"42a42125-9583-3d45-8938-26b912306789","name":"ExecuteStreamCommand","comments":"","position":{"x":-1160.0,"y":280.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/tmp","Command Path":"/bin/sleep","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"true","Command Arguments":"300"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"1e43793c-d85e-39d5-9169-08be49d56930","instanceIdentifier":"c0912a72-e16b-3010-53d2-f412f70eed8b","name":"MergeContent","comments":"","position":{"x":32.0,"y":1008.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"300","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"]","Max Bin Age":"5 min","Demarcator File":",","Correlation Attribute Name":"group_id","Bin Termination Check":null,"Header File":"[","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"67c2f96f-1ab9-3c6e-8e4a-7705db27f6db","instanceIdentifier":"02c7c234-7357-37ea-5843-3f8ef9d7a214","name":"ExecuteScript","comments":"","position":{"x":64.0,"y":1800.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import groovy.json.JsonOutput\nimport groovy.json.JsonSlurper\nimport org.apache.nifi.processor.io.StreamCallback\nimport java.nio.charset.StandardCharsets\nimport java.time.Instant\n\nflowFile = session.get()\nif (!flowFile) return\n\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    def inputText = inputStream.getText(StandardCharsets.UTF_8.name())\n    def parsed = new JsonSlurper().parseText(inputText)\n\n    def pull_id = parsed.pull_id ?: null\n    def streams = []\n\n    // Safe parsing closures\n    def parseLongSafe = { val ->\n        try {\n            return val?.isLong() ? val.toLong() : (val?.isNumber() ? val.toLong() : null)\n        } catch (Exception e) {\n            return null\n        }\n    }\n\n    def parseIntSafe = { val ->\n        try {\n            return val?.isInteger() ? val.toInteger() : (val?.isNumber() ? val.toInteger() : 0)\n        } catch (Exception e) {\n            return 0\n        }\n    }\n\n    parsed.data.each { item ->\n        item = item.trim()\n        if (item.startsWith(\"{\") && item.endsWith(\"}\")) {\n            item = item.substring(1, item.length() - 1)\n        }\n\n        def map = [:]\n        item.split(/, (?=\\w+=)/).each { pair ->\n            def (key, val) = pair.split(\"=\", 2)\n            map[key.trim()] = val?.trim()\n        }\n\n        def stream = [\n            _id                : parseLongSafe(map['id']),\n            game_id            : parseLongSafe(map['game_id']),\n            game               : null,\n            delay              : 0,\n            channel            : [\n                _id                       : parseLongSafe(map['user_id']),\n                url                       : null,\n                game                      : null,\n                logo                      : null,\n                name                      : null,\n                views                     : null,\n                mature                    : false,\n                status                    : map['title'],\n                partner                   : null,\n                language                  : map['language'],\n                followers                 : null,\n                created_at                : Instant.now().toString(),\n                updated_at                : Instant.now().toString(),\n                description               : null,\n                display_name              : null,\n                video_banner              : null,\n                profile_banner            : null,\n                broadcaster_language      : map['language'],\n                private_video             : false,\n                broadcaster_type          : '',\n                broadcaster_software      : '',\n                privacy_options_enabled   : 'false'\n            ],\n            viewers            : parseIntSafe(map['viewer_count']),\n            created_at         : map['started_at'],\n            stream_type        : map['type'],\n            broadcast_platform : map['type']\n        ]\n\n        streams << stream\n    }\n\n    def outputJson = JsonOutput.toJson([\n        pull_id: pull_id,\n        data: [\n            _total : streams.size(),\n            streams: streams\n        ]\n    ])\n\n    outputStream.write(outputJson.getBytes(StandardCharsets.UTF_8))\n} as StreamCallback)\n\nsession.transfer(flowFile, REL_SUCCESS)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"6d1bd1f2-87f7-3e0e-a706-12873b299aa2","instanceIdentifier":"0ec913ae-ab14-3af8-9ec7-8e7de1040c6f","name":"ExecuteSQL","comments":"","position":{"x":-1080.0,"y":576.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"UPDATE pulls\nSET \n  attempt_count = ${page_count},\n  success_count = ${page_count},\n  status = 'pulled'\nWHERE id = ${pull_id}\n","Database Connection Pooling Service":"5e9a914a-50ce-3368-0e97-ee08f6babcde","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"cf449468-0197-1000-f999-5da7fe0e0ad8","instanceIdentifier":"af29b5bc-64c0-3cdc-8327-0b9dbaa6074a","name":"InvokeHTTP","comments":"","position":{"x":400.0,"y":-1416.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Authorization":"Bearer ${access_token}","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.twitch.tv/helix/games?id=1669431183&id=491487&id=490100&id=509660&id=511224&id=1081998272&id=55453844&id=653624336&id=481086259&id=509658&id=509511&id=417969&id=86186541&id=394568&id=232131679&id=492035&id=2066107586&id=490744&id=509672&id=511295&id=516575&id=1174942814&id=497057&id=167402844&id=1362102608&id=490292&id=982348888&id=278888515&id=509664&id=1070994579&id=460620&id=939383781&id=1600495710&id=1036710512&id=2068583461&id=19","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Client-Id":"w01xjmvm7n94axn4m6extk75m0c3r1","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client-Id":{"name":"Client-Id","displayName":"Client-Id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d60d-0197-1000-bc2e-616f3115a350","instanceIdentifier":"d7bff143-b3e4-3b39-63db-d42432ec3f98","name":"InvokeHTTP","comments":"","position":{"x":424.0,"y":-288.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://id.twitch.tv/oauth2/token","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/x-www-form-urlencoded\n","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"d0425669-0197-1000-d36c-548b80657ea4","instanceIdentifier":"16e4a961-cc4e-3937-c595-da5f5302c1c8","name":"InvokeHTTP","comments":"","position":{"x":840.0,"y":-1160.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Authorization":"Bearer ${access_token}","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.twitch.tv/helix/users?id=880185737","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Client-Id":"w01xjmvm7n94axn4m6extk75m0c3r1","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client-Id":{"name":"Client-Id","displayName":"Client-Id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"344a054d-dfeb-31f5-a8d4-0fa8e792f5d0","instanceIdentifier":"97e87357-3c86-3219-61a9-24dd91eab1b6","name":"PutSQL","comments":"","position":{"x":80.0,"y":2440.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"1","Obtain Generated Keys":"false","JDBC Connection Pool":"ed874520-4187-3a66-9844-0b349b2b8f1b","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"cf95a2e6-386a-3c01-a5d7-0069311cfb8c","instanceIdentifier":"8f0798fe-63b1-3842-b0e9-50fafc7cf065","name":"ConvertRecord","comments":"","position":{"x":-24.0,"y":-960.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"a633d606-0197-1000-c2bd-cfbc65352ec9","Record Reader":"26ef3c4a-f7eb-3a06-b3ea-3fb2eb2b4f02"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d610-0197-1000-c2fd-62cee3244af8","instanceIdentifier":"9e24bcd6-7cac-3d1b-b89b-a1752d698e99","name":"SplitJson","comments":"","position":{"x":24.0,"y":760.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.data[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"7c14ff2e-6781-3cd0-9758-9f4157fe2686","instanceIdentifier":"22df3ad0-fe42-3189-66f5-60c76d45480b","name":"ReplaceText","comments":"","position":{"x":40.0,"y":1240.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(?s)^.*","Replacement Value":"{ \"pull_id\": \"${pull_id}\", \"data\": $0 }","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"5cddd7da-f9fc-33d5-bbf0-45b94d5af5c4","instanceIdentifier":"be98eafe-0f91-3683-7c1e-e8726387e605","name":"ExecuteScript","comments":"","position":{"x":72.0,"y":2008.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\ndef flowFile = session.get()\nif (!flowFile) return\n\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    def input = new JsonSlurper().parse(inputStream)\n    def pull_id = input.pull_id\n    def dataJson = JsonOutput.toJson(input.data)\n    def escapedData = dataJson.replace(\"'\", \"''\")  // Escape single quotes\n\n    def sql = \"INSERT INTO pull_data (pull_id, data) VALUES ('$pull_id', '$escapedData');\"\n    outputStream.write(sql.getBytes(\"UTF-8\"))\n} as StreamCallback)\n\nsession.transfer(flowFile, REL_SUCCESS)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"36c1c2f9-453c-3f05-8f8a-1903d41a773a","instanceIdentifier":"d83f0ce6-00ea-3985-8165-83ef99d63e2b","name":"EvaluateJsonPath","comments":"","position":{"x":-40.0,"y":-736.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"pull_id":"$[0].id","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"pull_id":{"name":"pull_id","displayName":"pull_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"91eb0aa8-d454-3b8f-aed8-d620638e9e7f","instanceIdentifier":"bbe31c85-4cde-3d8f-3065-ab7375c14a4d","name":"UpdateAttribute","comments":"","position":{"x":72.0,"y":2208.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":"fragment.*","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d613-0197-1000-6162-50ef28660ad1","instanceIdentifier":"a7311927-62cf-3543-d130-6d4c4de3de1c","name":"InvokeHTTP","comments":"","position":{"x":0.0,"y":288.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Authorization":"Bearer ${access_token}","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.twitch.tv/helix/streams?first=100&after=${cursor}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Client-Id":"w01xjmvm7n94axn4m6extk75m0c3r1","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client-Id":{"name":"Client-Id","displayName":"Client-Id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"864a5ab1-2a0c-325d-b984-b4ca5160f758","instanceIdentifier":"73d2d002-f7e1-31e2-e02b-79742be5eac7","name":"ExecuteSQL","comments":"","position":{"x":-24.0,"y":-1160.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"INSERT INTO pulls (pull_time, interval, status, server, created_at)\nVALUES (NOW(), 10, 'pulling...', 'twitch-pull', NOW())\nRETURNING id;","Database Connection Pooling Service":"ed874520-4187-3a66-9844-0b349b2b8f1b","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d611-0197-1000-97df-580e3eaa7a3d","instanceIdentifier":"2670e69d-7a19-37ba-5205-431f0561b4e7","name":"UpdateAttribute","comments":"","position":{"x":-592.0,"y":544.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"page_count":"${page_count:plus(1)}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"page_count":{"name":"page_count","displayName":"page_count","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d60f-0197-1000-0bfc-35ea08167ef8","instanceIdentifier":"4565d54e-a5ef-3785-c104-1a3828a86fa1","name":"RouteOnAttribute","comments":"","position":{"x":-592.0,"y":296.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name","hasCursor":"${cursor:notNull():and(${page_count:lt(300)}):and(${last_viewer_count:gt(10)})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hasCursor":{"name":"hasCursor","displayName":"hasCursor","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"118e3135-5092-3a60-8c52-37a2d557c8a3","instanceIdentifier":"c1c3377e-0ad5-33c5-ed7d-17edb8fcaf44","name":"ReplaceText","comments":"","position":{"x":-32.0,"y":-352.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":".*","Replacement Value":"client_id=${client_id}&client_secret=${client_secret}&grant_type=${grant_type}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a633d626-0197-1000-1db3-837cf6c9fbe1","instanceIdentifier":"b5310a02-8235-3e58-ebcf-f18c009f3dfd","name":"","source":{"id":"a633d612-0197-1000-4dff-42a54d351c97","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"787fd9ba-36b1-3cf1-98a3-299f50d626d2"},"destination":{"id":"a633d614-0197-1000-c26f-aad4e66dc5d5","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"b3ece900-7231-3fdc-8465-2b795a43ce1a"},"labelIndex":0,"zIndex":41,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d624-0197-1000-1f83-9f573bfd06a4","instanceIdentifier":"4e37c75d-e550-3fe4-1d5b-b17da5f480a4","name":"","source":{"id":"a633d612-0197-1000-4dff-42a54d351c97","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"787fd9ba-36b1-3cf1-98a3-299f50d626d2"},"destination":{"id":"a633d612-0197-1000-4dff-42a54d351c97","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"787fd9ba-36b1-3cf1-98a3-299f50d626d2"},"labelIndex":0,"zIndex":40,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":458.0,"y":597.0},{"x":458.0,"y":647.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a6c51960-454f-3e09-a63e-e5b5a568f500","instanceIdentifier":"398b9ffc-5c8b-3d03-ef7a-0addb377f5a9","name":"","source":{"id":"3ea75a80-23c6-3913-9cbf-12527a38b378","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"UpdateAttribute","comments":"","instanceIdentifier":"37b6b951-6350-32fe-4e38-ef7ba161aeed"},"destination":{"id":"118e3135-5092-3a60-8c52-37a2d557c8a3","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ReplaceText","comments":"","instanceIdentifier":"c1c3377e-0ad5-33c5-ed7d-17edb8fcaf44"},"labelIndex":0,"zIndex":99,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"04a3c8fe-dad2-377f-b083-273ee92400a0","instanceIdentifier":"d69bb6fc-f18d-3160-e5e8-2c0e084abda7","name":"","source":{"id":"6d1bd1f2-87f7-3e0e-a706-12873b299aa2","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteSQL","comments":"","instanceIdentifier":"0ec913ae-ab14-3af8-9ec7-8e7de1040c6f"},"destination":{"id":"babb64df-6cbd-3481-85f3-cbe61740c05c","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"264084cc-17e8-3197-ce16-931854512c4d"},"labelIndex":0,"zIndex":105,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d61e-0197-1000-b196-f7d43094260f","instanceIdentifier":"043563de-dfeb-3594-4a36-14ae4a03e318","name":"","source":{"id":"a633d613-0197-1000-6162-50ef28660ad1","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"InvokeHTTP","comments":"","instanceIdentifier":"a7311927-62cf-3543-d130-6d4c4de3de1c"},"destination":{"id":"a633d612-0197-1000-4dff-42a54d351c97","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"787fd9ba-36b1-3cf1-98a3-299f50d626d2"},"labelIndex":0,"zIndex":11,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"04e9dd7f-8fd4-3149-9a59-695fe347f52c","instanceIdentifier":"4df135e5-be25-3d19-5204-cb4b8e148aa2","name":"","source":{"id":"dddd747c-99a4-3a30-b5c2-358538e79b02","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"GenerateFlowFile","comments":"","instanceIdentifier":"ee1454ce-ede0-3cfb-b5e5-302ea34803ea"},"destination":{"id":"864a5ab1-2a0c-325d-b984-b4ca5160f758","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteSQL","comments":"","instanceIdentifier":"73d2d002-f7e1-31e2-e02b-79742be5eac7"},"labelIndex":0,"zIndex":113,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"fc227dc8-5d26-3091-b93c-40e953a44d85","instanceIdentifier":"ecf4dd8b-b95b-390b-93ae-9a53d34a2fe7","name":"","source":{"id":"a633d60f-0197-1000-0bfc-35ea08167ef8","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"RouteOnAttribute","comments":"","instanceIdentifier":"4565d54e-a5ef-3785-c104-1a3828a86fa1"},"destination":{"id":"1f7fcfe1-4009-3592-a617-f30cfe275a4f","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"42a42125-9583-3d45-8938-26b912306789"},"labelIndex":0,"zIndex":107,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"565ff55e-ff5e-3e59-a335-f56020372368","instanceIdentifier":"b8423be6-dda2-3605-06b2-cd21a61612a5","name":"","source":{"id":"864a5ab1-2a0c-325d-b984-b4ca5160f758","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteSQL","comments":"","instanceIdentifier":"73d2d002-f7e1-31e2-e02b-79742be5eac7"},"destination":{"id":"cf95a2e6-386a-3c01-a5d7-0069311cfb8c","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ConvertRecord","comments":"","instanceIdentifier":"8f0798fe-63b1-3842-b0e9-50fafc7cf065"},"labelIndex":0,"zIndex":94,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"7f438809-e16b-39bf-bf74-c2d16b339b6f","instanceIdentifier":"2e01da13-cf2e-31be-356c-b8e6d48e2961","name":"","source":{"id":"5cddd7da-f9fc-33d5-bbf0-45b94d5af5c4","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteScript","comments":"","instanceIdentifier":"be98eafe-0f91-3683-7c1e-e8726387e605"},"destination":{"id":"379e0c16-7c57-3569-8e74-f4aed17e2b33","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"139024e4-911a-3fd7-7908-bea82990802d"},"labelIndex":0,"zIndex":84,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"5b616f45-f700-3720-aabe-4b192226e385","instanceIdentifier":"3827175b-3d13-347d-73c8-fbde1e8df051","name":"","source":{"id":"1f7fcfe1-4009-3592-a617-f30cfe275a4f","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"42a42125-9583-3d45-8938-26b912306789"},"destination":{"id":"92291763-4c78-3b4a-8113-3ef790e0057c","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"3c4dc80a-96ad-3b06-7fb9-aff8fdbf5980"},"labelIndex":0,"zIndex":110,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"79d47024-0f2e-35c9-8b00-a9b0a5287dff","instanceIdentifier":"8c44e0e3-b85b-3299-ccd0-23b7b698528f","name":"","source":{"id":"67c2f96f-1ab9-3c6e-8e4a-7705db27f6db","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteScript","comments":"","instanceIdentifier":"02c7c234-7357-37ea-5843-3f8ef9d7a214"},"destination":{"id":"f9204f94-b0a1-309e-a97e-4019a8185f8a","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"d2eb4ef2-2704-32f5-0f22-7b1860438fe0"},"labelIndex":0,"zIndex":79,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"256b76a6-ce62-3c33-a5a8-6c78d30bdf5a","instanceIdentifier":"766add34-0f9e-304d-3bdf-575257353679","name":"","source":{"id":"864a5ab1-2a0c-325d-b984-b4ca5160f758","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteSQL","comments":"","instanceIdentifier":"73d2d002-f7e1-31e2-e02b-79742be5eac7"},"destination":{"id":"469b2e14-7ae4-3a60-8b73-75950b4952f8","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"c6f6e26f-bcb9-3f4e-9554-0e88718e0d79"},"labelIndex":0,"zIndex":111,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d628-0197-1000-55b3-6a8caafc1ed3","instanceIdentifier":"89f4003f-047e-3969-374f-e29791cbc297","name":"","source":{"id":"a633d60f-0197-1000-0bfc-35ea08167ef8","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"RouteOnAttribute","comments":"","instanceIdentifier":"4565d54e-a5ef-3785-c104-1a3828a86fa1"},"destination":{"id":"a633d613-0197-1000-6162-50ef28660ad1","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"InvokeHTTP","comments":"","instanceIdentifier":"a7311927-62cf-3543-d130-6d4c4de3de1c"},"labelIndex":0,"zIndex":39,"selectedRelationships":["hasCursor"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"2a12f08a-3c21-33eb-8f46-fcf3622ea35e","instanceIdentifier":"080c1047-be6d-3b8f-b23f-5e4a6f73d190","name":"","source":{"id":"7c14ff2e-6781-3cd0-9758-9f4157fe2686","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ReplaceText","comments":"","instanceIdentifier":"22df3ad0-fe42-3189-66f5-60c76d45480b"},"destination":{"id":"02226025-5262-391f-9b18-f479f0fb9e80","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"7cef76f2-40e5-300d-0c6a-62fed1cb1dd7"},"labelIndex":0,"zIndex":71,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d629-0197-1000-cdc3-95627b5b70b7","instanceIdentifier":"783e808d-05dc-33c6-70bc-cf6f46bdab91","name":"","source":{"id":"a633d612-0197-1000-4dff-42a54d351c97","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"787fd9ba-36b1-3cf1-98a3-299f50d626d2"},"destination":{"id":"a633d611-0197-1000-97df-580e3eaa7a3d","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"UpdateAttribute","comments":"","instanceIdentifier":"2670e69d-7a19-37ba-5205-431f0561b4e7"},"labelIndex":0,"zIndex":28,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"2a971b31-a30a-32dd-9ffa-3311d1fce0e6","instanceIdentifier":"a8f36465-6264-3b23-b314-8410d57e8e7f","name":"","source":{"id":"344a054d-dfeb-31f5-a8d4-0fa8e792f5d0","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"PutSQL","comments":"","instanceIdentifier":"97e87357-3c86-3219-61a9-24dd91eab1b6"},"destination":{"id":"0b4e2eb5-adb7-35c1-a4a1-3b2c5a5bab7b","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"bf4afff8-bd89-3590-29b7-e2ff0110e21e"},"labelIndex":0,"zIndex":86,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d62d-0197-1000-fa5d-caa5b73f1dbb","instanceIdentifier":"af561a9e-9581-37d9-6222-b7dcf6e5a401","name":"","source":{"id":"a633d612-0197-1000-4dff-42a54d351c97","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"787fd9ba-36b1-3cf1-98a3-299f50d626d2"},"destination":{"id":"a633d610-0197-1000-c2fd-62cee3244af8","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"SplitJson","comments":"","instanceIdentifier":"9e24bcd6-7cac-3d1b-b89b-a1752d698e99"},"labelIndex":0,"zIndex":27,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"7fd2e56e-cf6d-3295-b49f-93fee691c13b","instanceIdentifier":"41c8cbe1-d850-3d44-a6b5-766ee4a88007","name":"","source":{"id":"5cddd7da-f9fc-33d5-bbf0-45b94d5af5c4","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteScript","comments":"","instanceIdentifier":"be98eafe-0f91-3683-7c1e-e8726387e605"},"destination":{"id":"91eb0aa8-d454-3b8f-aed8-d620638e9e7f","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"UpdateAttribute","comments":"","instanceIdentifier":"bbe31c85-4cde-3d8f-3065-ab7375c14a4d"},"labelIndex":0,"zIndex":122,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"967fbb7d-9224-3219-99b2-4847e4b481d1","instanceIdentifier":"e13e32a2-b2f7-3f47-6cc1-dbdd6c24960a","name":"","source":{"id":"91eb0aa8-d454-3b8f-aed8-d620638e9e7f","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"UpdateAttribute","comments":"","instanceIdentifier":"bbe31c85-4cde-3d8f-3065-ab7375c14a4d"},"destination":{"id":"344a054d-dfeb-31f5-a8d4-0fa8e792f5d0","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"PutSQL","comments":"","instanceIdentifier":"97e87357-3c86-3219-61a9-24dd91eab1b6"},"labelIndex":0,"zIndex":123,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"d6e7759c-f2b2-3314-a855-dbb6e1b124cd","instanceIdentifier":"6abfb5bc-ace4-3af1-de23-8d819701a18a","name":"","source":{"id":"7c14ff2e-6781-3cd0-9758-9f4157fe2686","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ReplaceText","comments":"","instanceIdentifier":"22df3ad0-fe42-3189-66f5-60c76d45480b"},"destination":{"id":"ea73067d-07ed-33c6-b085-ae5166c8f4fc","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"JoltTransformJSON","comments":"","instanceIdentifier":"3e2d8e69-7220-3713-d54e-a78b397264ee"},"labelIndex":0,"zIndex":72,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"0529fad7-f903-3244-adf2-31e3f8f671c8","instanceIdentifier":"f8c62925-8eb8-3a37-67d8-020d4518dd48","name":"","source":{"id":"118e3135-5092-3a60-8c52-37a2d557c8a3","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ReplaceText","comments":"","instanceIdentifier":"c1c3377e-0ad5-33c5-ed7d-17edb8fcaf44"},"destination":{"id":"600038f7-f65e-30aa-8338-26c100b2e26e","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"8cec5262-5287-3972-1c0e-535bf11c4bbf"},"labelIndex":0,"zIndex":100,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a767be2b-c47a-396b-bf6f-60e1583fb42c","instanceIdentifier":"28b97b77-f01b-3292-fcaa-40ce9078c4b7","name":"","source":{"id":"1e43793c-d85e-39d5-9169-08be49d56930","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"MergeContent","comments":"","instanceIdentifier":"c0912a72-e16b-3010-53d2-f412f70eed8b"},"destination":{"id":"7c14ff2e-6781-3cd0-9758-9f4157fe2686","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ReplaceText","comments":"","instanceIdentifier":"22df3ad0-fe42-3189-66f5-60c76d45480b"},"labelIndex":0,"zIndex":64,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"8e70f800-637e-3395-b35c-07cf0d0064d6","instanceIdentifier":"3561b828-8458-37a1-69bf-fa232bccb4aa","name":"","source":{"id":"1e43793c-d85e-39d5-9169-08be49d56930","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"MergeContent","comments":"","instanceIdentifier":"c0912a72-e16b-3010-53d2-f412f70eed8b"},"destination":{"id":"36040216-71ee-3e58-a466-6f780457fdf5","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"5e7f6bef-6b63-3147-26fa-d954fe019b6a"},"labelIndex":0,"zIndex":88,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d625-0197-1000-573c-7b7af0847c9e","instanceIdentifier":"f6346fa1-27d8-31c5-5001-b463def3210c","name":"","source":{"id":"a633d610-0197-1000-c2fd-62cee3244af8","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"SplitJson","comments":"","instanceIdentifier":"9e24bcd6-7cac-3d1b-b89b-a1752d698e99"},"destination":{"id":"a633d610-0197-1000-c2fd-62cee3244af8","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"SplitJson","comments":"","instanceIdentifier":"9e24bcd6-7cac-3d1b-b89b-a1752d698e99"},"labelIndex":0,"zIndex":42,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":488.0,"y":796.0},{"x":488.0,"y":846.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d62b-0197-1000-8356-754f9e960bb6","instanceIdentifier":"e05962e8-14d3-3c41-8713-620407eb0673","name":"","source":{"id":"a633d60c-0197-1000-96d0-9ce770024eb3","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"63be7b5b-58bb-39ea-f2eb-0cabcb5c8a42"},"destination":{"id":"a633d60c-0197-1000-96d0-9ce770024eb3","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"63be7b5b-58bb-39ea-f2eb-0cabcb5c8a42"},"labelIndex":0,"zIndex":37,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1431.559799194336,"y":-259.07994842529297},{"x":1431.559799194336,"y":-209.07994842529297}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d630-0197-1000-6c06-f29f39802e50","instanceIdentifier":"80f085d5-b671-35c8-083a-a71411838cbd","name":"","source":{"id":"a633d60c-0197-1000-96d0-9ce770024eb3","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"63be7b5b-58bb-39ea-f2eb-0cabcb5c8a42"},"destination":{"id":"cf449468-0197-1000-f999-5da7fe0e0ad8","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"InvokeHTTP","comments":"","instanceIdentifier":"af29b5bc-64c0-3cdc-8327-0b9dbaa6074a"},"labelIndex":0,"zIndex":4,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"47597bf8-7362-3a24-9de1-d13e004ededc","instanceIdentifier":"9e437bd5-b250-311b-8796-0b45c2876d2d","name":"","source":{"id":"118e3135-5092-3a60-8c52-37a2d557c8a3","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ReplaceText","comments":"","instanceIdentifier":"c1c3377e-0ad5-33c5-ed7d-17edb8fcaf44"},"destination":{"id":"a633d60d-0197-1000-bc2e-616f3115a350","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"InvokeHTTP","comments":"","instanceIdentifier":"d7bff143-b3e4-3b39-63db-d42432ec3f98"},"labelIndex":0,"zIndex":92,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"33b79d1e-5e80-3e65-9950-88041d12ee8b","instanceIdentifier":"cf44f2e1-0197-1000-3cf9-80de1d4149ee","name":"","source":{"id":"cf449468-0197-1000-f999-5da7fe0e0ad8","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"InvokeHTTP","comments":"","instanceIdentifier":"af29b5bc-64c0-3cdc-8327-0b9dbaa6074a"},"destination":{"id":"251e5d07-9dd1-3386-909b-57a73db9ddb5","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"cf44d979-0197-1000-8b7d-58cb29057cda"},"labelIndex":0,"zIndex":124,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"087b7f2f-3a6b-3b22-b37c-225b3de39260","instanceIdentifier":"6a736993-b9d5-3f18-da8f-2fcb0f3c63dc","name":"","source":{"id":"1f7fcfe1-4009-3592-a617-f30cfe275a4f","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"42a42125-9583-3d45-8938-26b912306789"},"destination":{"id":"6d1bd1f2-87f7-3e0e-a706-12873b299aa2","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteSQL","comments":"","instanceIdentifier":"0ec913ae-ab14-3af8-9ec7-8e7de1040c6f"},"labelIndex":0,"zIndex":108,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"f636a3d9-0010-316b-98dc-2e49f7942427","instanceIdentifier":"34728c57-5d44-3fc2-a558-0cd00560f29c","name":"","source":{"id":"a633d60d-0197-1000-bc2e-616f3115a350","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"InvokeHTTP","comments":"","instanceIdentifier":"d7bff143-b3e4-3b39-63db-d42432ec3f98"},"destination":{"id":"a633d60c-0197-1000-96d0-9ce770024eb3","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"63be7b5b-58bb-39ea-f2eb-0cabcb5c8a42"},"labelIndex":0,"zIndex":91,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"84d594dd-fc7a-3013-8de2-0bb05c3c02d5","instanceIdentifier":"d0436be7-0197-1000-b368-9fbf251cfa97","name":"","source":{"id":"a633d60c-0197-1000-96d0-9ce770024eb3","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"63be7b5b-58bb-39ea-f2eb-0cabcb5c8a42"},"destination":{"id":"d0425669-0197-1000-d36c-548b80657ea4","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"InvokeHTTP","comments":"","instanceIdentifier":"16e4a961-cc4e-3937-c595-da5f5302c1c8"},"labelIndex":0,"zIndex":126,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"9f213c65-53dd-3815-9479-9b677d3b78f8","instanceIdentifier":"e49dac10-e98b-3189-d360-90d67666c62a","name":"","source":{"id":"cf95a2e6-386a-3c01-a5d7-0069311cfb8c","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ConvertRecord","comments":"","instanceIdentifier":"8f0798fe-63b1-3842-b0e9-50fafc7cf065"},"destination":{"id":"388955a7-ea42-3a73-b792-3bfe0b00051f","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"cbdfa4a7-a196-387f-71b5-293a008c0254"},"labelIndex":0,"zIndex":98,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d620-0197-1000-489a-c4e550f1930a","instanceIdentifier":"3f2a0dc2-a6e2-3a99-2763-175aa8c0c66d","name":"","source":{"id":"a633d613-0197-1000-6162-50ef28660ad1","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"InvokeHTTP","comments":"","instanceIdentifier":"a7311927-62cf-3543-d130-6d4c4de3de1c"},"destination":{"id":"a633d613-0197-1000-6162-50ef28660ad1","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"InvokeHTTP","comments":"","instanceIdentifier":"a7311927-62cf-3543-d130-6d4c4de3de1c"},"labelIndex":0,"zIndex":38,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":469.0,"y":327.0},{"x":469.0,"y":377.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"bedeeb2d-bf1e-3e43-85e1-b7a89f0db7b8","instanceIdentifier":"5b7130d4-59d1-332d-b324-5b25d2ec270d","name":"","source":{"id":"a633d610-0197-1000-c2fd-62cee3244af8","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"SplitJson","comments":"","instanceIdentifier":"9e24bcd6-7cac-3d1b-b89b-a1752d698e99"},"destination":{"id":"1e43793c-d85e-39d5-9169-08be49d56930","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"MergeContent","comments":"","instanceIdentifier":"c0912a72-e16b-3010-53d2-f412f70eed8b"},"labelIndex":0,"zIndex":121,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"4bad1a30-6e12-3235-bd87-7ac430d7f119","instanceIdentifier":"3b09e1d5-677b-389f-9358-b7b2d99c6eec","name":"","source":{"id":"6d1bd1f2-87f7-3e0e-a706-12873b299aa2","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteSQL","comments":"","instanceIdentifier":"0ec913ae-ab14-3af8-9ec7-8e7de1040c6f"},"destination":{"id":"beef69a9-f8e6-3088-a3f8-b9b0d2213d85","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"c1873ab6-7974-33e3-83fc-0a542872295b"},"labelIndex":0,"zIndex":106,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"51a1b3f6-a18c-3e2f-b608-46cfb02abfe1","instanceIdentifier":"7f590679-d03d-31f4-7f90-ed06123fbbc0","name":"","source":{"id":"ea73067d-07ed-33c6-b085-ae5166c8f4fc","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"JoltTransformJSON","comments":"","instanceIdentifier":"3e2d8e69-7220-3713-d54e-a78b397264ee"},"destination":{"id":"8f2ef9c0-fa16-3b96-9c47-a5ebd24cadb9","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"cc10c969-7462-3c83-2c06-852c1d673ea9"},"labelIndex":0,"zIndex":77,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"10cc3573-3b06-3688-9ef4-6a5a13517510","instanceIdentifier":"d044230c-0197-1000-bd8d-c99395ba5898","name":"","source":{"id":"d0425669-0197-1000-d36c-548b80657ea4","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"InvokeHTTP","comments":"","instanceIdentifier":"16e4a961-cc4e-3937-c595-da5f5302c1c8"},"destination":{"id":"724ef1b3-843f-3e18-9cd3-2c193b650fa4","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"d04408cf-0197-1000-7830-88dfdc01ef30"},"labelIndex":0,"zIndex":128,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"3e1f76aa-18d1-3ac8-9b1f-327b12530e51","instanceIdentifier":"bd50bd40-67b7-39f7-d950-746189bf0642","name":"","source":{"id":"36c1c2f9-453c-3f05-8f8a-1903d41a773a","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d83f0ce6-00ea-3985-8165-83ef99d63e2b"},"destination":{"id":"b5630550-6789-30c6-85d8-1d3a2da552d5","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"19216bcd-b0c0-3767-b000-46a89e71fd75"},"labelIndex":0,"zIndex":112,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"e3a53b93-4da1-3bfe-a6a0-10d082ec5e92","instanceIdentifier":"d043f249-0197-1000-e9d8-be63e8dcfcfc","name":"","source":{"id":"d0425669-0197-1000-d36c-548b80657ea4","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"InvokeHTTP","comments":"","instanceIdentifier":"16e4a961-cc4e-3937-c595-da5f5302c1c8"},"destination":{"id":"3e1e5c5c-b70b-35c3-8b35-fa2bb0bfe7a9","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"d043b6de-0197-1000-1a11-2fc44579ef9f"},"labelIndex":0,"zIndex":127,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"f14c4960-ff11-3c72-b067-d6c4f46a220f","instanceIdentifier":"b504a186-c500-3c84-e804-74b856c2248d","name":"","source":{"id":"ea73067d-07ed-33c6-b085-ae5166c8f4fc","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"JoltTransformJSON","comments":"","instanceIdentifier":"3e2d8e69-7220-3713-d54e-a78b397264ee"},"destination":{"id":"67c2f96f-1ab9-3c6e-8e4a-7705db27f6db","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteScript","comments":"","instanceIdentifier":"02c7c234-7357-37ea-5843-3f8ef9d7a214"},"labelIndex":0,"zIndex":78,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"2171f181-6520-377b-9f1d-cdf8f98e6f7f","instanceIdentifier":"e0448346-0343-3c04-911e-ace2bafe7217","name":"","source":{"id":"36c1c2f9-453c-3f05-8f8a-1903d41a773a","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d83f0ce6-00ea-3985-8165-83ef99d63e2b"},"destination":{"id":"3ea75a80-23c6-3913-9cbf-12527a38b378","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"UpdateAttribute","comments":"","instanceIdentifier":"37b6b951-6350-32fe-4e38-ef7ba161aeed"},"labelIndex":0,"zIndex":96,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"ef185c69-0dab-36af-9c08-ce7f2028c72a","instanceIdentifier":"cf4519ad-0197-1000-4f87-5081eae7abd3","name":"","source":{"id":"cf449468-0197-1000-f999-5da7fe0e0ad8","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"InvokeHTTP","comments":"","instanceIdentifier":"af29b5bc-64c0-3cdc-8327-0b9dbaa6074a"},"destination":{"id":"3e1e5c5c-b70b-35c3-8b35-fa2bb0bfe7a9","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"d043b6de-0197-1000-1a11-2fc44579ef9f"},"labelIndex":0,"zIndex":125,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":880.0,"y":-1352.0},{"x":832.0,"y":-1304.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"144e6a4a-54a7-3cee-b86b-7367756cdabd","instanceIdentifier":"26d10bf3-85c8-38fc-1bb0-912c8979efcf","name":"","source":{"id":"67c2f96f-1ab9-3c6e-8e4a-7705db27f6db","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteScript","comments":"","instanceIdentifier":"02c7c234-7357-37ea-5843-3f8ef9d7a214"},"destination":{"id":"5cddd7da-f9fc-33d5-bbf0-45b94d5af5c4","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteScript","comments":"","instanceIdentifier":"be98eafe-0f91-3683-7c1e-e8726387e605"},"labelIndex":0,"zIndex":87,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a91d0d26-badd-3e0b-922f-d7310ef1e59e","instanceIdentifier":"959fb382-91b3-3395-f25f-98f2dceb0ce9","name":"","source":{"id":"344a054d-dfeb-31f5-a8d4-0fa8e792f5d0","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"PutSQL","comments":"","instanceIdentifier":"97e87357-3c86-3219-61a9-24dd91eab1b6"},"destination":{"id":"6077ce0b-7694-3597-9e05-5cbe8485c7e7","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"6290e7de-e970-3d7f-5d18-ed30bd9e043c"},"labelIndex":0,"zIndex":117,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"92b79889-0e2a-32d4-b44c-92b90cc91eeb","instanceIdentifier":"302c782b-e4e7-35cf-321d-2b72664c3b15","name":"","source":{"id":"344a054d-dfeb-31f5-a8d4-0fa8e792f5d0","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"PutSQL","comments":"","instanceIdentifier":"97e87357-3c86-3219-61a9-24dd91eab1b6"},"destination":{"id":"244d05b2-8e26-3888-aea5-a4f2eeb59858","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"bf1bbcbd-57d7-3e6d-a07e-da813bbe3452"},"labelIndex":0,"zIndex":85,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d62a-0197-1000-5db2-d9256af1a838","instanceIdentifier":"3b7eb7fe-f144-30ba-cadc-e752fc550588","name":"","source":{"id":"a633d60d-0197-1000-bc2e-616f3115a350","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"InvokeHTTP","comments":"","instanceIdentifier":"d7bff143-b3e4-3b39-63db-d42432ec3f98"},"destination":{"id":"a633d60d-0197-1000-bc2e-616f3115a350","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"InvokeHTTP","comments":"","instanceIdentifier":"d7bff143-b3e4-3b39-63db-d42432ec3f98"},"labelIndex":0,"zIndex":36,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":888.1999359130859,"y":-243.2799301147461},{"x":888.1999359130859,"y":-193.2799301147461}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d61b-0197-1000-7f81-e37b81ee3d47","instanceIdentifier":"4eb4f0b9-a6fa-3a07-9568-4516c088a26e","name":"","source":{"id":"a633d611-0197-1000-97df-580e3eaa7a3d","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"UpdateAttribute","comments":"","instanceIdentifier":"2670e69d-7a19-37ba-5205-431f0561b4e7"},"destination":{"id":"a633d60f-0197-1000-0bfc-35ea08167ef8","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"RouteOnAttribute","comments":"","instanceIdentifier":"4565d54e-a5ef-3785-c104-1a3828a86fa1"},"labelIndex":0,"zIndex":34,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"e06e1f2b-36a2-3a2b-a85b-29f442546d53","instanceIdentifier":"21a25f36-9f4f-324c-f0f3-f1165a4d58d5","name":"","source":{"id":"1f7fcfe1-4009-3592-a617-f30cfe275a4f","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"42a42125-9583-3d45-8938-26b912306789"},"destination":{"id":"5fe1e7b7-7413-302f-8df8-9a215c00cd99","type":"FUNNEL","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"Funnel","comments":"","instanceIdentifier":"1ec7ffd7-7745-3023-25a4-ceab7c4aed72"},"labelIndex":0,"zIndex":109,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"f45b4f43-0901-3ebf-ba5f-490731045592","instanceIdentifier":"7c1dd8ff-9937-3591-e286-e1afea2a4778","name":"","source":{"id":"cf95a2e6-386a-3c01-a5d7-0069311cfb8c","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"ConvertRecord","comments":"","instanceIdentifier":"8f0798fe-63b1-3842-b0e9-50fafc7cf065"},"destination":{"id":"36c1c2f9-453c-3f05-8f8a-1903d41a773a","type":"PROCESSOR","groupId":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d83f0ce6-00ea-3985-8165-83ef99d63e2b"},"labelIndex":0,"zIndex":97,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"}],"labels":[],"funnels":[{"identifier":"02226025-5262-391f-9b18-f479f0fb9e80","instanceIdentifier":"7cef76f2-40e5-300d-0c6a-62fed1cb1dd7","position":{"x":528.0,"y":1424.0},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"600038f7-f65e-30aa-8338-26c100b2e26e","instanceIdentifier":"8cec5262-5287-3972-1c0e-535bf11c4bbf","position":{"x":-251.5,"y":-205.5},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"6077ce0b-7694-3597-9e05-5cbe8485c7e7","instanceIdentifier":"6290e7de-e970-3d7f-5d18-ed30bd9e043c","position":{"x":583.9451774828362,"y":2605.7828369140616},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"babb64df-6cbd-3481-85f3-cbe61740c05c","instanceIdentifier":"264084cc-17e8-3197-ce16-931854512c4d","position":{"x":-1136.0,"y":792.0},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"3e1e5c5c-b70b-35c3-8b35-fa2bb0bfe7a9","instanceIdentifier":"d043b6de-0197-1000-1a11-2fc44579ef9f","position":{"x":792.0,"y":-1472.0},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"5fe1e7b7-7413-302f-8df8-9a215c00cd99","instanceIdentifier":"1ec7ffd7-7745-3023-25a4-ceab7c4aed72","position":{"x":-1360.0,"y":528.0},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"8f2ef9c0-fa16-3b96-9c47-a5ebd24cadb9","instanceIdentifier":"cc10c969-7462-3c83-2c06-852c1d673ea9","position":{"x":-376.0,"y":1688.0},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"244d05b2-8e26-3888-aea5-a4f2eeb59858","instanceIdentifier":"bf1bbcbd-57d7-3e6d-a07e-da813bbe3452","position":{"x":-216.0,"y":2552.0},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"469b2e14-7ae4-3a60-8b73-75950b4952f8","instanceIdentifier":"c6f6e26f-bcb9-3f4e-9554-0e88718e0d79","position":{"x":468.99689870351415,"y":-1175.9412403915483},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"251e5d07-9dd1-3386-909b-57a73db9ddb5","instanceIdentifier":"cf44d979-0197-1000-8b7d-58cb29057cda","position":{"x":784.0,"y":-1240.0},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d614-0197-1000-c26f-aad4e66dc5d5","instanceIdentifier":"b3ece900-7231-3fdc-8465-2b795a43ce1a","position":{"x":528.0,"y":712.0},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"0b4e2eb5-adb7-35c1-a4a1-3b2c5a5bab7b","instanceIdentifier":"bf4afff8-bd89-3590-29b7-e2ff0110e21e","position":{"x":272.0,"y":2648.0},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"379e0c16-7c57-3569-8e74-f4aed17e2b33","instanceIdentifier":"139024e4-911a-3fd7-7908-bea82990802d","position":{"x":-176.0,"y":2216.0},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"724ef1b3-843f-3e18-9cd3-2c193b650fa4","instanceIdentifier":"d04408cf-0197-1000-7830-88dfdc01ef30","position":{"x":1080.0,"y":-1264.0},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"388955a7-ea42-3a73-b792-3bfe0b00051f","instanceIdentifier":"cbdfa4a7-a196-387f-71b5-293a008c0254","position":{"x":528.0,"y":-840.0},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"b5630550-6789-30c6-85d8-1d3a2da552d5","instanceIdentifier":"19216bcd-b0c0-3767-b000-46a89e71fd75","position":{"x":501.99689870351415,"y":-675.9412403915479},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"36040216-71ee-3e58-a466-6f780457fdf5","instanceIdentifier":"5e7f6bef-6b63-3147-26fa-d954fe019b6a","position":{"x":624.0,"y":1152.0},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"beef69a9-f8e6-3088-a3f8-b9b0d2213d85","instanceIdentifier":"c1873ab6-7974-33e3-83fc-0a542872295b","position":{"x":-538.0031012964864,"y":750.0587596084528},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"f9204f94-b0a1-309e-a97e-4019a8185f8a","instanceIdentifier":"d2eb4ef2-2704-32f5-0f22-7b1860438fe0","position":{"x":-128.0,"y":1960.0},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"92291763-4c78-3b4a-8113-3ef790e0057c","instanceIdentifier":"3c4dc80a-96ad-3b06-7fb9-aff8fdbf5980","position":{"x":-1400.0,"y":336.0},"componentType":"FUNNEL","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"}],"controllerServices":[{"identifier":"a633d607-0197-1000-8cfb-356c1c1a555e","instanceIdentifier":"eea9e7e5-2e5c-31b0-5196-a666e0792650","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"a633d606-0197-1000-c2bd-cfbc65352ec9","instanceIdentifier":"57451a2e-6fb5-3bed-58a2-6f8697483720","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"},{"identifier":"26ef3c4a-f7eb-3a06-b3ea-3fb2eb2b4f02","instanceIdentifier":"22eed453-34e6-3643-6d3a-1390ea3ff506","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b7eb5fbe-9b3a-3783-94e6-225324fb0a2e"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{"ed874520-4187-3a66-9844-0b349b2b8f1b":{"identifier":"ed874520-4187-3a66-9844-0b349b2b8f1b","name":"DBCPConnectionPool"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}