data-pipelines/youtube_game_title_processor.json
{"flowContents":{"identifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","instanceIdentifier":"7c7d240e-0197-1000-47b5-dbc2536eb2f1","name":"game_title","comments":"","position":{"x":1172.76560332871,"y":-617.8307905686545},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0e4feb7f-d9cc-3726-b634-e17349d7c43a","instanceIdentifier":"82cd866a-0197-1000-d511-e3232253c737","name":"UpdateAttribute","comments":"","position":{"x":-160.0,"y":656.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"url":"https://www.youtube.com/watch?v=${video_id}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"afe5f9d9-dfea-3565-a1a3-184d8187cd0c","instanceIdentifier":"7653163a-8156-310e-9afb-fa2122e2cef1","name":"ExecuteSQL","comments":"","position":{"x":-168.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"\nSELECT\n    v.youtube_video_id,\n    v.youtube_channel_id,\n    c.title AS channel_name\nFROM\n    youtube_videos_data v\nJOIN\n    youtube_channels_data c\nON\n    v.youtube_channel_id = c.youtube_channel_id\nWHERE\n    v.game_title IS NULL\nand v.published_at>CURRENT_DATE-12;","Database Connection Pooling Service":"8ca7de69-cf77-308c-a5b7-8697ec2fc9a9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"7c0c834a-290e-3516-af4b-4b1ae65c5631","instanceIdentifier":"3f2f903f-75b3-39c4-0fe1-24ed0cafb136","name":"SplitJson","comments":"","position":{"x":-168.0,"y":240.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"95fe5765-eb80-3644-84b9-cce16270c3ee","instanceIdentifier":"e518ae8f-47cc-3cf3-703d-ad01c1c9336d","name":"EvaluateJsonPath","comments":"","position":{"x":-152.0,"y":1312.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","game_title":"$.[\"game\"]","url":"$.[\"url\"]","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"game_title":{"name":"game_title","displayName":"game_title","identifiesControllerService":false,"sensitive":false,"dynamic":true},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"544b1853-b901-387f-9e69-b396abc0e440","instanceIdentifier":"e5697e65-fbf4-392d-5647-15827125f99a","name":"EvaluateJsonPath","comments":"","position":{"x":-152.0,"y":424.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"channel_name":"$.[\"channel_name\"]","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","channel_id":"$.[\"youtube_channel_id\"]","Path Not Found Behavior":"ignore","video_id":"$.[\"youtube_video_id\"]"},"propertyDescriptors":{"channel_name":{"name":"channel_name","displayName":"channel_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"channel_id":{"name":"channel_id","displayName":"channel_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"video_id":{"name":"video_id","displayName":"video_id","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"44c999ca-0765-3363-8ca8-62ac6d324623","instanceIdentifier":"515a60cf-259b-33e4-0169-427b1db7f2f1","name":"ReplaceText","comments":"","position":{"x":-168.0,"y":1736.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"'","Replacement Value":"''","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"359d6705-9246-3fdb-8955-dad5a14e0f96","instanceIdentifier":"a045fc70-8117-3997-f5a2-af2729ee632b","name":"ConvertRecord","comments":"","position":{"x":-168.0,"y":24.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"24cab5ba-b124-38f3-accd-83cb36a8517c","Record Reader":"95c81f6e-bfad-3717-9c7f-95a4fb89ff6b"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"81e916d8-e48b-3a37-88fa-6ce6b54334c3","instanceIdentifier":"82d69a3f-0197-1000-7ff2-c6a00fec8fad","name":"AttributesToJSON","comments":"","position":{"x":-136.0,"y":872.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"url","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"2cb4fd77-afca-3bad-a7e0-7b9051337d64","instanceIdentifier":"82cf5a1a-0197-1000-78ec-489b658e9a2d","name":"InvokeHTTP","comments":"","position":{"x":-136.0,"y":1112.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"30 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"30 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"http://10.192.21.27:5000/scrape","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"fe719a76-cd96-3200-8762-abf4fb2dda17","instanceIdentifier":"567a02b6-bca7-3bd6-b1b3-a096e93e9546","name":"RouteOnAttribute","comments":"","position":{"x":-152.0,"y":1520.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name","matched":"${game_title:equals('Not found'):not():and(${game_title:equals('Timeout'):not()}):and(${game_title:equals('Error'):not()})}","unmatched":"${game_title:equals('Not found'):or(${game_title:equals('Timeout')}):or(${game_title:equals('Error')})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"matched":{"name":"matched","displayName":"matched","identifiesControllerService":false,"sensitive":false,"dynamic":true},"unmatched":{"name":"unmatched","displayName":"unmatched","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"425ccba1-ddd6-3489-92e8-16fa71268003","instanceIdentifier":"cf5a0b6a-8e75-3923-b03b-6024927518b8","name":"ExecuteSQL","comments":"","position":{"x":-160.0,"y":1920.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"INSERT INTO youtube_game_title_test (game_id, video_id, video_url, channel_id, channel_name)\nVALUES ('${game_title}', '${video_id}', '${url}', '${channel_id}', '${channel_name}');\n","Database Connection Pooling Service":"19a0ae11-6e7a-3665-92e7-232ef01d86f1","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"0b647732-9e27-3293-ac02-407a1989e9ea","instanceIdentifier":"5e733a83-f042-3b58-3e0d-ab69e9ab29d0","name":"","source":{"id":"95fe5765-eb80-3644-84b9-cce16270c3ee","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e518ae8f-47cc-3cf3-703d-ad01c1c9336d"},"destination":{"id":"fe719a76-cd96-3200-8762-abf4fb2dda17","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"RouteOnAttribute","comments":"","instanceIdentifier":"567a02b6-bca7-3bd6-b1b3-a096e93e9546"},"labelIndex":0,"zIndex":13,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"c192c4d2-b934-3f88-a21a-1db4e4bdb5ca","instanceIdentifier":"672175b2-ddec-3170-9ab9-1a4cd02caffd","name":"","source":{"id":"7c0c834a-290e-3516-af4b-4b1ae65c5631","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"SplitJson","comments":"","instanceIdentifier":"3f2f903f-75b3-39c4-0fe1-24ed0cafb136"},"destination":{"id":"544b1853-b901-387f-9e69-b396abc0e440","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e5697e65-fbf4-392d-5647-15827125f99a"},"labelIndex":0,"zIndex":6,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"c8e8caec-ae59-3379-83ec-36806db0c2dd","instanceIdentifier":"82cf07e1-0197-1000-075d-41592cc2e32a","name":"","source":{"id":"544b1853-b901-387f-9e69-b396abc0e440","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e5697e65-fbf4-392d-5647-15827125f99a"},"destination":{"id":"0e4feb7f-d9cc-3726-b634-e17349d7c43a","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"UpdateAttribute","comments":"","instanceIdentifier":"82cd866a-0197-1000-d511-e3232253c737"},"labelIndex":0,"zIndex":31,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"3fb63187-d1db-36ac-ad8e-5d671f7e5c29","instanceIdentifier":"4ccf00df-caa6-3bd4-8890-c865a86999e4","name":"","source":{"id":"95fe5765-eb80-3644-84b9-cce16270c3ee","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e518ae8f-47cc-3cf3-703d-ad01c1c9336d"},"destination":{"id":"95fe5765-eb80-3644-84b9-cce16270c3ee","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e518ae8f-47cc-3cf3-703d-ad01c1c9336d"},"labelIndex":0,"zIndex":12,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":318.0,"y":1349.0},{"x":318.0,"y":1399.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"e1956899-e673-3e48-b458-e03a4ebd5afe","instanceIdentifier":"84881237-0197-1000-efb6-ef4ccd6cf617","name":"","source":{"id":"fe719a76-cd96-3200-8762-abf4fb2dda17","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"RouteOnAttribute","comments":"","instanceIdentifier":"567a02b6-bca7-3bd6-b1b3-a096e93e9546"},"destination":{"id":"fe719a76-cd96-3200-8762-abf4fb2dda17","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"RouteOnAttribute","comments":"","instanceIdentifier":"567a02b6-bca7-3bd6-b1b3-a096e93e9546"},"labelIndex":0,"zIndex":49,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":317.0,"y":1559.0},{"x":317.0,"y":1609.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"a60a4339-01d3-352a-8795-91b355a692bc","instanceIdentifier":"680bc884-80a2-3fb0-8570-b08734c08ac5","name":"","source":{"id":"afe5f9d9-dfea-3565-a1a3-184d8187cd0c","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ExecuteSQL","comments":"","instanceIdentifier":"7653163a-8156-310e-9afb-fa2122e2cef1"},"destination":{"id":"359d6705-9246-3fdb-8955-dad5a14e0f96","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ConvertRecord","comments":"","instanceIdentifier":"a045fc70-8117-3997-f5a2-af2729ee632b"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"05c00889-6ba5-39e0-9935-e30642bca181","instanceIdentifier":"82d11774-0197-1000-184c-24835f4dd80d","name":"","source":{"id":"0e4feb7f-d9cc-3726-b634-e17349d7c43a","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"UpdateAttribute","comments":"","instanceIdentifier":"82cd866a-0197-1000-d511-e3232253c737"},"destination":{"id":"81e916d8-e48b-3a37-88fa-6ce6b54334c3","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"AttributesToJSON","comments":"","instanceIdentifier":"82d69a3f-0197-1000-7ff2-c6a00fec8fad"},"labelIndex":0,"zIndex":32,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"2e5adfec-505b-3698-9977-088ccdf662dc","instanceIdentifier":"f212fe52-8a27-3092-a697-941708910a7c","name":"","source":{"id":"44c999ca-0765-3363-8ca8-62ac6d324623","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ReplaceText","comments":"","instanceIdentifier":"515a60cf-259b-33e4-0169-427b1db7f2f1"},"destination":{"id":"44c999ca-0765-3363-8ca8-62ac6d324623","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ReplaceText","comments":"","instanceIdentifier":"515a60cf-259b-33e4-0169-427b1db7f2f1"},"labelIndex":0,"zIndex":26,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":303.49346923828125,"y":1769.687744140625},{"x":303.49346923828125,"y":1819.687744140625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"5db60c55-793c-30c1-94db-7ae78f9992e9","instanceIdentifier":"83288716-0197-1000-5be8-93cdfadefbc4","name":"","source":{"id":"fe719a76-cd96-3200-8762-abf4fb2dda17","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"RouteOnAttribute","comments":"","instanceIdentifier":"567a02b6-bca7-3bd6-b1b3-a096e93e9546"},"destination":{"id":"44c999ca-0765-3363-8ca8-62ac6d324623","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ReplaceText","comments":"","instanceIdentifier":"515a60cf-259b-33e4-0169-427b1db7f2f1"},"labelIndex":0,"zIndex":45,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"44bf88cb-a6f5-3594-bdb2-5da938d6cc43","instanceIdentifier":"5f6ac2a9-778c-3376-8c9d-8f1d50ee4712","name":"","source":{"id":"425ccba1-ddd6-3489-92e8-16fa71268003","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ExecuteSQL","comments":"","instanceIdentifier":"cf5a0b6a-8e75-3923-b03b-6024927518b8"},"destination":{"id":"425ccba1-ddd6-3489-92e8-16fa71268003","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ExecuteSQL","comments":"","instanceIdentifier":"cf5a0b6a-8e75-3923-b03b-6024927518b8"},"labelIndex":0,"zIndex":22,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":299.0,"y":1954.0},{"x":299.0,"y":2004.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"20f1ce2d-82cd-3e83-88e5-5fc0c1ee5038","instanceIdentifier":"83325bfb-0197-1000-5c15-5e48930b2976","name":"","source":{"id":"81e916d8-e48b-3a37-88fa-6ce6b54334c3","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"AttributesToJSON","comments":"","instanceIdentifier":"82d69a3f-0197-1000-7ff2-c6a00fec8fad"},"destination":{"id":"81e916d8-e48b-3a37-88fa-6ce6b54334c3","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"AttributesToJSON","comments":"","instanceIdentifier":"82d69a3f-0197-1000-7ff2-c6a00fec8fad"},"labelIndex":0,"zIndex":46,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":333.0,"y":911.0},{"x":333.0,"y":961.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"d7b49bd0-92c1-3ec9-89bb-64ec9ec9c56a","instanceIdentifier":"528b570d-c8ea-3e26-6281-9ab94492d758","name":"","source":{"id":"359d6705-9246-3fdb-8955-dad5a14e0f96","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ConvertRecord","comments":"","instanceIdentifier":"a045fc70-8117-3997-f5a2-af2729ee632b"},"destination":{"id":"359d6705-9246-3fdb-8955-dad5a14e0f96","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ConvertRecord","comments":"","instanceIdentifier":"a045fc70-8117-3997-f5a2-af2729ee632b"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":301.96851348876953,"y":65.02997589111328},{"x":301.96851348876953,"y":115.02997589111328}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"b82a2d3f-2d7e-36a5-9249-0f28c8d9c985","instanceIdentifier":"84887d9a-0197-1000-28e9-9015e655bc5b","name":"","source":{"id":"425ccba1-ddd6-3489-92e8-16fa71268003","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ExecuteSQL","comments":"","instanceIdentifier":"cf5a0b6a-8e75-3923-b03b-6024927518b8"},"destination":{"id":"425ccba1-ddd6-3489-92e8-16fa71268003","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ExecuteSQL","comments":"","instanceIdentifier":"cf5a0b6a-8e75-3923-b03b-6024927518b8"},"labelIndex":1,"zIndex":50,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-272.0,"y":2000.0},{"x":-272.0,"y":1952.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"e00deb7a-6749-3f19-8f22-0050cf3888ee","instanceIdentifier":"e0820295-120f-37a5-3e16-4e3fd5db04e5","name":"","source":{"id":"44c999ca-0765-3363-8ca8-62ac6d324623","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ReplaceText","comments":"","instanceIdentifier":"515a60cf-259b-33e4-0169-427b1db7f2f1"},"destination":{"id":"425ccba1-ddd6-3489-92e8-16fa71268003","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ExecuteSQL","comments":"","instanceIdentifier":"cf5a0b6a-8e75-3923-b03b-6024927518b8"},"labelIndex":0,"zIndex":25,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"24c62521-08d0-3689-981d-c2f328951fdc","instanceIdentifier":"5f08a6fe-f4fb-3733-abd6-16e85acca68d","name":"","source":{"id":"afe5f9d9-dfea-3565-a1a3-184d8187cd0c","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ExecuteSQL","comments":"","instanceIdentifier":"7653163a-8156-310e-9afb-fa2122e2cef1"},"destination":{"id":"afe5f9d9-dfea-3565-a1a3-184d8187cd0c","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ExecuteSQL","comments":"","instanceIdentifier":"7653163a-8156-310e-9afb-fa2122e2cef1"},"labelIndex":0,"zIndex":2,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":301.0,"y":-137.0},{"x":301.0,"y":-87.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"5b2456b2-7145-383b-9245-a5f13df28324","instanceIdentifier":"38531a45-3d8f-3b62-a7a3-7516a1c403de","name":"","source":{"id":"359d6705-9246-3fdb-8955-dad5a14e0f96","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"ConvertRecord","comments":"","instanceIdentifier":"a045fc70-8117-3997-f5a2-af2729ee632b"},"destination":{"id":"7c0c834a-290e-3516-af4b-4b1ae65c5631","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"SplitJson","comments":"","instanceIdentifier":"3f2f903f-75b3-39c4-0fe1-24ed0cafb136"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"0f3f42e6-2930-3d52-ac5c-f80941ce84e6","instanceIdentifier":"82d71be0-0197-1000-497a-50f7205abf1f","name":"","source":{"id":"81e916d8-e48b-3a37-88fa-6ce6b54334c3","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"AttributesToJSON","comments":"","instanceIdentifier":"82d69a3f-0197-1000-7ff2-c6a00fec8fad"},"destination":{"id":"2cb4fd77-afca-3bad-a7e0-7b9051337d64","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"InvokeHTTP","comments":"","instanceIdentifier":"82cf5a1a-0197-1000-78ec-489b658e9a2d"},"labelIndex":0,"zIndex":35,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"2f9087d9-09fc-3e23-8bf0-8dc7e285931d","instanceIdentifier":"087e8205-4c9c-3a2c-549b-07fb1f019d67","name":"","source":{"id":"544b1853-b901-387f-9e69-b396abc0e440","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e5697e65-fbf4-392d-5647-15827125f99a"},"destination":{"id":"544b1853-b901-387f-9e69-b396abc0e440","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e5697e65-fbf4-392d-5647-15827125f99a"},"labelIndex":0,"zIndex":9,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":316.9070557355881,"y":462.5622253417969},{"x":316.9070557355881,"y":512.5622253417969}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"96d8baeb-7280-3eb6-87b9-b8ad44415873","instanceIdentifier":"2c5d56df-64e6-3084-0a71-3e296959b3ab","name":"","source":{"id":"7c0c834a-290e-3516-af4b-4b1ae65c5631","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"SplitJson","comments":"","instanceIdentifier":"3f2f903f-75b3-39c4-0fe1-24ed0cafb136"},"destination":{"id":"7c0c834a-290e-3516-af4b-4b1ae65c5631","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"SplitJson","comments":"","instanceIdentifier":"3f2f903f-75b3-39c4-0fe1-24ed0cafb136"},"labelIndex":0,"zIndex":5,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":301.0,"y":279.0},{"x":301.0,"y":329.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"d535c66a-c47e-3dfc-a0f3-6aad8fb03b07","instanceIdentifier":"82d1730a-0197-1000-f5cb-42b0af727145","name":"","source":{"id":"2cb4fd77-afca-3bad-a7e0-7b9051337d64","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"InvokeHTTP","comments":"","instanceIdentifier":"82cf5a1a-0197-1000-78ec-489b658e9a2d"},"destination":{"id":"95fe5765-eb80-3644-84b9-cce16270c3ee","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"e518ae8f-47cc-3cf3-703d-ad01c1c9336d"},"labelIndex":0,"zIndex":33,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"386435da-657a-3d4a-bf96-d6968c845b6d","instanceIdentifier":"848b67f4-0197-1000-c54c-bd4f5df35129","name":"","source":{"id":"2cb4fd77-afca-3bad-a7e0-7b9051337d64","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"InvokeHTTP","comments":"","instanceIdentifier":"82cf5a1a-0197-1000-78ec-489b658e9a2d"},"destination":{"id":"2cb4fd77-afca-3bad-a7e0-7b9051337d64","type":"PROCESSOR","groupId":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d","name":"InvokeHTTP","comments":"","instanceIdentifier":"82cf5a1a-0197-1000-78ec-489b658e9a2d"},"labelIndex":0,"zIndex":51,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":333.0,"y":1151.0},{"x":333.0,"y":1201.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"95c81f6e-bfad-3717-9c7f-95a4fb89ff6b","instanceIdentifier":"25e13d72-4126-345e-3157-5988bec0d80e","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"},{"identifier":"24cab5ba-b124-38f3-accd-83cb36a8517c","instanceIdentifier":"d0bf9b1a-1802-3790-1299-d982edbfe8fa","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fc301ece-d28e-3fad-8ef2-3ef29e8a556d"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"19a0ae11-6e7a-3665-92e7-232ef01d86f1":{"identifier":"19a0ae11-6e7a-3665-92e7-232ef01d86f1","name":"DBCPConnectionPool_redshift_stage"},"8ca7de69-cf77-308c-a5b7-8697ec2fc9a9":{"identifier":"8ca7de69-cf77-308c-a5b7-8697ec2fc9a9","name":"DBCPConnectionPool_stage_redshift"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}