data-pipelines/Youtube_videos_processor.json
{"flowContents":{"identifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","instanceIdentifier":"35b4183d-0197-1000-e5be-5664db4c8fad","name":"Youtube_videos_processor","comments":"","position":{"x":488.0,"y":-448.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8d14ec05-73bd-31d9-b25e-5ce69f1bc7d4","instanceIdentifier":"e4572e4f-2aac-36b1-b587-345983e62d84","name":"ExecuteSQL","comments":"","position":{"x":-1696.0,"y":2560.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"INSERT INTO youtube_videos (\n    youtube_video_id,\n    youtube_channel_id,\n    title,\n    description,\n    category_id,\n    live_broadcast_content,\n    published_at,\n    views,\n    likes,\n    favorites,\n    comments,\n    duration,\n    is_live,\n    tags\n)\nVALUES (\n    '${youtube_id}',\n    '${youtube_channel_id}',\n    '${title}',\n    '${description}',\n    '${category_id}',\n    '${live_broadcast_content}',\n    '${published_at}',\n    ${views},\n    ${likes:isEmpty():ifElse(\"CAST(NULL AS INTEGER)\", ${likes})},\n    ${favorites:isEmpty():ifElse(\"CAST(NULL AS INTEGER)\", ${favorites})},\n    ${comments:isEmpty():ifElse(\"CAST(NULL AS INTEGER)\", ${comments})},\n    '${duration}',\n    ${is_live},\n    '${tags_string}'\n);","Database Connection Pooling Service":"8ca7de69-cf77-308c-a5b7-8697ec2fc9a9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"9177bf7d-f688-3d20-b30b-1f4f7a1169cd","instanceIdentifier":"570ec809-16ce-3d0a-027c-d4ab95a6a5b6","name":"EvaluateJsonPath","comments":"","position":{"x":-1680.0,"y":-528.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","uploads_playlist":"$.uploads_playlist","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"uploads_playlist":{"name":"uploads_playlist","displayName":"uploads_playlist","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"96684003-2cb8-3da7-bc0e-6b8719add7a3","instanceIdentifier":"f46ea172-6efe-3b8e-40d9-056d7873b2c1","name":"ExecuteSQL","comments":"","position":{"x":-1688.0,"y":-1272.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"select distinct(uploads_playlist) from youtube_channels;","Database Connection Pooling Service":"8ca7de69-cf77-308c-a5b7-8697ec2fc9a9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 30 0 * * ?","schedulingStrategy":"CRON_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"5a3fb17e-f53b-35f9-939a-1c19c8c9da8d","instanceIdentifier":"1ef8bc14-22ed-3344-7106-241ec0028365","name":"InvokeHTTP","comments":"","position":{"x":-2392.0,"y":64.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://www.googleapis.com/youtube/v3/playlistItems?part=contentDetails&playlistId=${uploads_playlist}&key=#{api_key}&maxResults=50&pageToken=${nextPageToken}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"ca88a3f3-2612-37d5-98f7-f9d0db1653fa","instanceIdentifier":"ee85305c-9c71-3987-a26e-975eab240995","name":"EvaluateJsonPath","comments":"","position":{"x":-1696.0,"y":2064.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"favorites":"$.favorites","Destination":"flowfile-attribute","comments":"$.comments","Max String Length":"20 MB","youtube_channel_id":"$.youtube_channel_id","Return Type":"auto-detect","description":"$.description","Null Value Representation":"empty string","title":"$.title","youtube_id":"$.youtube_id","Path Not Found Behavior":"ignore","tags":"$.tags_string","duration":"$.duration","category_id":"$.category_id","published_at":"$.published_at","live_broadcast_content":"$.live_broadcast_content","tags_string":"$.tags_string","views":"$.views","likes":"$.likes"},"propertyDescriptors":{"favorites":{"name":"favorites","displayName":"favorites","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"comments":{"name":"comments","displayName":"comments","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"youtube_channel_id":{"name":"youtube_channel_id","displayName":"youtube_channel_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"title":{"name":"title","displayName":"title","identifiesControllerService":false,"sensitive":false,"dynamic":true},"youtube_id":{"name":"youtube_id","displayName":"youtube_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"tags":{"name":"tags","displayName":"tags","identifiesControllerService":false,"sensitive":false,"dynamic":true},"duration":{"name":"duration","displayName":"duration","identifiesControllerService":false,"sensitive":false,"dynamic":true},"category_id":{"name":"category_id","displayName":"category_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"published_at":{"name":"published_at","displayName":"published_at","identifiesControllerService":false,"sensitive":false,"dynamic":true},"live_broadcast_content":{"name":"live_broadcast_content","displayName":"live_broadcast_content","identifiesControllerService":false,"sensitive":false,"dynamic":true},"tags_string":{"name":"tags_string","displayName":"tags_string","identifiesControllerService":false,"sensitive":false,"dynamic":true},"views":{"name":"views","displayName":"views","identifiesControllerService":false,"sensitive":false,"dynamic":true},"likes":{"name":"likes","displayName":"likes","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"d07a1003-3943-36a0-bb1b-595f67bdf395","instanceIdentifier":"39c63a69-0197-1000-11fb-1944bbe7935d","name":"PublishSlack","comments":"","position":{"x":-2632.0,"y":1704.0},"type":"org.apache.nifi.processors.slack.PublishSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"2.4.0"},"properties":{"Max FlowFile Size":"1 MB","Thread Timestamp":null,"Methods Endpoint Url Prefix":null,"Publish Strategy":"Send FlowFile Content as Message","Channel":"youtube_alert_test","Message Text":null,"Character Set":"UTF-8","Include FlowFile Content as Attachment":"false"},"propertyDescriptors":{"Max FlowFile Size":{"name":"Max FlowFile Size","displayName":"Max FlowFile Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Thread Timestamp":{"name":"Thread Timestamp","displayName":"Thread Timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Methods Endpoint Url Prefix":{"name":"Methods Endpoint Url Prefix","displayName":"Methods Endpoint Url Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Channel":{"name":"Channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Token":{"name":"Access Token","displayName":"Access Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Message Text":{"name":"Message Text","displayName":"Message Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include FlowFile Content as Attachment":{"name":"Include FlowFile Content as Attachment","displayName":"Include FlowFile Content as Attachment","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"3 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","instanceIdentifier":"91015bf3-c42f-33b5-3877-d6e0c2e0d32a","name":"ConvertRecord","comments":"","position":{"x":-1696.0,"y":-1016.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"8573c07a-35aa-3a72-bbd5-6d0fe3d3c511","Record Reader":"19ceac6a-240c-3880-a111-1b3710fa7759"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"9ed28d95-6bff-3f44-9642-9437d5e7aa26","instanceIdentifier":"be7bef77-8672-34f1-fa67-c377843137b4","name":"InvokeHTTP","comments":"","position":{"x":-1672.0,"y":920.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://www.googleapis.com/youtube/v3/videos?part=snippet,contentDetails,statistics&id=${video_id}&key=#{api_key}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"f47c17e0-c3a2-352c-8e93-e28e0e589c53","instanceIdentifier":"73ce2f0f-eb73-3fb3-eb78-d38a03146885","name":"ReplaceText","comments":"","position":{"x":-1696.0,"y":1832.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(\")(\")","Replacement Value":"$1N/A$2","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"54aee77e-f82e-3cdb-bef6-facd1a45603c","instanceIdentifier":"39cf3bc9-0197-1000-4170-84d3a36ffb23","name":"GenerateFlowFile","comments":"","position":{"x":-2880.0,"y":1368.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{ \"message\" : \"testing slack alerts with youtube video pipeline\"}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"8efbbb0a-5b1c-317c-83bd-ef5c68c35455","instanceIdentifier":"03d570d9-054a-384f-a384-778556e5f9c6","name":"EvaluateJsonPath","comments":"","position":{"x":-1664.0,"y":704.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","contentDetails_video_id":"$.contentDetails.videoId","Path Not Found Behavior":"ignore","video_id":"$.contentDetails.videoId"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"contentDetails_video_id":{"name":"contentDetails_video_id","displayName":"contentDetails_video_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"video_id":{"name":"video_id","displayName":"video_id","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"62731a8d-e910-3d66-9a45-fbcbb249f57a","instanceIdentifier":"5aff7fd4-ac13-392c-e0eb-7fcd39622dd9","name":"SplitJson","comments":"","position":{"x":-1696.0,"y":-784.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"895baed3-2ccc-34ba-bab0-210603e1914e","instanceIdentifier":"d21f25e3-1e7f-3477-47ec-4dc4b7771164","name":"SplitJson","comments":"","position":{"x":-1664.0,"y":488.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.items[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"c7cd11a4-2417-3da2-85f6-5674649cb951","instanceIdentifier":"555bc312-dd79-38bb-9f9c-4af7fa5880df","name":"UpdateAttribute","comments":"","position":{"x":-1696.0,"y":2296.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","is_live":"${live_broadcast_content:equals('live'):ifElse('true','false')}","description":"${description:replaceAll(\"'\", \"''\")}","Stateful Variables Initial Value":null,"title":"${title:replaceAll(\"'\", \"''\")}","tags_string":"${tags_string:replaceAll(\"'\", \"\")}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"is_live":{"name":"is_live","displayName":"is_live","identifiesControllerService":false,"sensitive":false,"dynamic":true},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"title":{"name":"title","displayName":"title","identifiesControllerService":false,"sensitive":false,"dynamic":true},"tags_string":{"name":"tags_string","displayName":"tags_string","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"4e5c3fe5-492c-3fe8-b144-51420a21a273","instanceIdentifier":"459990b4-2e90-3772-497c-4ea327b33321","name":"JoltTransformJSON","comments":"","position":{"x":-1688.0,"y":1576.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.4.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"tags_string\": \"=join(',', @(1,tags))\"\n    }\n  }\n]"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"b99fa203-e9e6-37a4-909b-5c871bc88145","instanceIdentifier":"9bfd0e18-e5ba-30ab-297c-9096f99c0e6a","name":"EvaluateJsonPath","comments":"","position":{"x":-1672.0,"y":200.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","nextPageToken":"$.nextPageToken","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"nextPageToken":{"name":"nextPageToken","displayName":"nextPageToken","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"886cae40-1bd8-32c4-8b49-eef2e9d3ae62","instanceIdentifier":"998c77d0-fa16-36ab-0415-25d56449e71d","name":"JoltTransformJSON","comments":"","position":{"x":-1688.0,"y":1128.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.4.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"items\": {\n        \"*\": {\n          \"id\": \"youtube_id\",\n          \"snippet\": {\n            \"channelId\": \"youtube_channel_id\",\n            \"title\": \"title\",\n            \"description\": \"description\",\n            \"tags\": \"tags\",\n            \"categoryId\": \"category_id\",\n            \"liveBroadcastContent\": \"live_broadcast_content\",\n            \"publishedAt\": \"published_at\"\n          },\n          \"statistics\": {\n            \"viewCount\": \"views\",\n            \"likeCount\": \"likes\",\n            \"favoriteCount\": \"favorites\",\n            \"commentCount\": \"comments\"\n          },\n          \"contentDetails\": {\n            \"duration\": \"duration\"\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n      \"tags\": \"N/A\"\n    }\n  }\n]\n"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"76316f8b-f7cc-3393-8acf-7de70ccc3c09","instanceIdentifier":"a8e34848-afb0-35dd-1eba-04e8e394b752","name":"ReplaceText","comments":"","position":{"x":-1688.0,"y":1352.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(\\n|\\r|\\'\")","Replacement Value":" ","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"954d7a5e-7352-3627-bc46-f333696b3b1d","instanceIdentifier":"4aa3bed1-6613-3c10-4ad7-56471031f1c3","name":"RouteOnAttribute","comments":"","position":{"x":-2408.0,"y":352.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name","has_next_page":"${nextPageToken:isNull():not():and(${nextPageToken:length():gt(0)})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"has_next_page":{"name":"has_next_page","displayName":"has_next_page","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"c2597881-85ef-3cb3-8769-1ec04a069ebc","instanceIdentifier":"577be488-1868-339f-53e1-ebc5f7ec14c5","name":"InvokeHTTP","comments":"","position":{"x":-1688.0,"y":-32.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"${url}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"7aec2e5d-30aa-3057-975f-37513d2c87f5","instanceIdentifier":"20f375e8-a1eb-3dde-4b87-2a04219b5813","name":"UpdateAttribute","comments":"","position":{"x":-1688.0,"y":-256.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"url":"https://www.googleapis.com/youtube/v3/playlistItems?part=contentDetails&playlistId=${uploads_playlist}&maxResults=50&key=#{api_key}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"deeb97a1-4de7-35a8-b123-98acc480d368","instanceIdentifier":"27a2494f-c6b6-310e-15d0-f0c2f5bb259b","name":"","source":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"SplitJson","comments":"","instanceIdentifier":"5aff7fd4-ac13-392c-e0eb-7fcd39622dd9"},"destination":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"SplitJson","comments":"","instanceIdentifier":"5aff7fd4-ac13-392c-e0eb-7fcd39622dd9"},"labelIndex":0,"zIndex":46,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1230.7994384765625,"y":-751.676513671875},{"x":-1230.7994384765625,"y":-701.676513671875}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"2911a1a2-3370-35e3-beb3-59ece14dad53","instanceIdentifier":"39c922db-0197-1000-d419-9ab385336373","name":"","source":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"InvokeHTTP","comments":"","instanceIdentifier":"577be488-1868-339f-53e1-ebc5f7ec14c5"},"destination":{"id":"d07a1003-3943-36a0-bb1b-595f67bdf395","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"PublishSlack","comments":"","instanceIdentifier":"39c63a69-0197-1000-11fb-1944bbe7935d"},"labelIndex":0,"zIndex":144,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"a932d2b4-914e-33a5-9239-44a49818a882","instanceIdentifier":"1e156c66-e2ed-3e0e-3919-a27b75d5d281","name":"","source":{"id":"b99fa203-e9e6-37a4-909b-5c871bc88145","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9bfd0e18-e5ba-30ab-297c-9096f99c0e6a"},"destination":{"id":"b99fa203-e9e6-37a4-909b-5c871bc88145","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9bfd0e18-e5ba-30ab-297c-9096f99c0e6a"},"labelIndex":0,"zIndex":90,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1203.0,"y":239.0},{"x":-1203.0,"y":289.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"a006d54e-2afc-3712-8259-f7011634eb7b","instanceIdentifier":"a79819ab-f7c8-3367-a9f3-d48c7e442c77","name":"","source":{"id":"886cae40-1bd8-32c4-8b49-eef2e9d3ae62","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"998c77d0-fa16-36ab-0415-25d56449e71d"},"destination":{"id":"76316f8b-f7cc-3393-8acf-7de70ccc3c09","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ReplaceText","comments":"","instanceIdentifier":"a8e34848-afb0-35dd-1eba-04e8e394b752"},"labelIndex":0,"zIndex":81,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"ed3b404d-b134-374f-b6ed-5dbffc76d516","instanceIdentifier":"a8c9c6a0-06c2-35b0-c79e-40f9ee58a460","name":"","source":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ExecuteSQL","comments":"","instanceIdentifier":"f46ea172-6efe-3b8e-40d9-056d7873b2c1"},"destination":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ConvertRecord","comments":"","instanceIdentifier":"91015bf3-c42f-33b5-3877-d6e0c2e0d32a"},"labelIndex":0,"zIndex":26,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"ad16b678-0d65-3917-8322-4acbe94de5d2","instanceIdentifier":"cda3cca4-2cb4-3777-b8cc-747d4a690744","name":"","source":{"id":"9ed28d95-6bff-3f44-9642-9437d5e7aa26","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"InvokeHTTP","comments":"","instanceIdentifier":"be7bef77-8672-34f1-fa67-c377843137b4"},"destination":{"id":"886cae40-1bd8-32c4-8b49-eef2e9d3ae62","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"998c77d0-fa16-36ab-0415-25d56449e71d"},"labelIndex":0,"zIndex":70,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"79aa643d-eced-37a5-9257-d81df8062cb0","instanceIdentifier":"44bc3f3b-01d0-3bc0-b824-a839f12f6db4","name":"","source":{"id":"5a3fb17e-f53b-35f9-939a-1c19c8c9da8d","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"InvokeHTTP","comments":"","instanceIdentifier":"1ef8bc14-22ed-3344-7106-241ec0028365"},"destination":{"id":"b99fa203-e9e6-37a4-909b-5c871bc88145","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9bfd0e18-e5ba-30ab-297c-9096f99c0e6a"},"labelIndex":0,"zIndex":93,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"f217c2a5-e9b2-35b5-a7e4-ebe94d422234","instanceIdentifier":"1abe78ff-7231-3548-9264-8dc17c4dacb1","name":"","source":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"InvokeHTTP","comments":"","instanceIdentifier":"577be488-1868-339f-53e1-ebc5f7ec14c5"},"destination":{"id":"b99fa203-e9e6-37a4-909b-5c871bc88145","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9bfd0e18-e5ba-30ab-297c-9096f99c0e6a"},"labelIndex":0,"zIndex":86,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"c0c8bd35-8cbe-3861-ab7c-2eee4256b39e","instanceIdentifier":"9a87a7bc-04b3-3461-e1c3-630247929b5d","name":"","source":{"id":"8efbbb0a-5b1c-317c-83bd-ef5c68c35455","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"03d570d9-054a-384f-a384-778556e5f9c6"},"destination":{"id":"9ed28d95-6bff-3f44-9642-9437d5e7aa26","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"InvokeHTTP","comments":"","instanceIdentifier":"be7bef77-8672-34f1-fa67-c377843137b4"},"labelIndex":0,"zIndex":105,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"a9ec8371-2628-305d-8e02-19415b21c0d1","instanceIdentifier":"39cc76fb-0197-1000-5ee1-721d63fd7a13","name":"","source":{"id":"886cae40-1bd8-32c4-8b49-eef2e9d3ae62","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"998c77d0-fa16-36ab-0415-25d56449e71d"},"destination":{"id":"d07a1003-3943-36a0-bb1b-595f67bdf395","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"PublishSlack","comments":"","instanceIdentifier":"39c63a69-0197-1000-11fb-1944bbe7935d"},"labelIndex":0,"zIndex":147,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"623388c2-5293-3fb6-b6a3-e6c529d0b487","instanceIdentifier":"6e9b07e6-b492-3876-f788-0c56995cab28","name":"","source":{"id":"76316f8b-f7cc-3393-8acf-7de70ccc3c09","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ReplaceText","comments":"","instanceIdentifier":"a8e34848-afb0-35dd-1eba-04e8e394b752"},"destination":{"id":"4e5c3fe5-492c-3fe8-b144-51420a21a273","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"459990b4-2e90-3772-497c-4ea327b33321"},"labelIndex":0,"zIndex":123,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"bfd694c0-5f81-3825-8bbe-31eee88af65c","instanceIdentifier":"de39bdc6-239e-395f-c4fa-eb5b2f1e938b","name":"","source":{"id":"954d7a5e-7352-3627-bc46-f333696b3b1d","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"RouteOnAttribute","comments":"","instanceIdentifier":"4aa3bed1-6613-3c10-4ad7-56471031f1c3"},"destination":{"id":"5a3fb17e-f53b-35f9-939a-1c19c8c9da8d","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"InvokeHTTP","comments":"","instanceIdentifier":"1ef8bc14-22ed-3344-7106-241ec0028365"},"labelIndex":0,"zIndex":91,"selectedRelationships":["has_next_page"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"ca8cf4ae-0677-3aab-85c5-dbfebf43454f","instanceIdentifier":"331eff6c-011a-3d96-452e-4bf8eabbc242","name":"","source":{"id":"f47c17e0-c3a2-352c-8e93-e28e0e589c53","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ReplaceText","comments":"","instanceIdentifier":"73ce2f0f-eb73-3fb3-eb78-d38a03146885"},"destination":{"id":"ca88a3f3-2612-37d5-98f7-f9d0db1653fa","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ee85305c-9c71-3987-a26e-975eab240995"},"labelIndex":0,"zIndex":125,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"21abb0f1-18d7-36c3-90a1-3516744ee3da","instanceIdentifier":"1a49c7e0-c374-31f0-2e5d-5edfdbfe5f95","name":"","source":{"id":"9ed28d95-6bff-3f44-9642-9437d5e7aa26","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"InvokeHTTP","comments":"","instanceIdentifier":"be7bef77-8672-34f1-fa67-c377843137b4"},"destination":{"id":"9ed28d95-6bff-3f44-9642-9437d5e7aa26","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"InvokeHTTP","comments":"","instanceIdentifier":"be7bef77-8672-34f1-fa67-c377843137b4"},"labelIndex":0,"zIndex":71,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1201.0,"y":959.0},{"x":-1201.0,"y":1009.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"a803e9cd-3f01-3686-a404-01ce5b3e6b71","instanceIdentifier":"9f1c901c-ee96-3e17-cd62-d80948d7e4cf","name":"","source":{"id":"b99fa203-e9e6-37a4-909b-5c871bc88145","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9bfd0e18-e5ba-30ab-297c-9096f99c0e6a"},"destination":{"id":"895baed3-2ccc-34ba-bab0-210603e1914e","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"SplitJson","comments":"","instanceIdentifier":"d21f25e3-1e7f-3477-47ec-4dc4b7771164"},"labelIndex":0,"zIndex":89,"selectedRelationships":["matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"051fe2e0-d84f-36f8-b7e8-790f9e801af9","instanceIdentifier":"32663552-9d37-3500-d27f-c882ff1d3c20","name":"","source":{"id":"9177bf7d-f688-3d20-b30b-1f4f7a1169cd","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"570ec809-16ce-3d0a-027c-d4ab95a6a5b6"},"destination":{"id":"7aec2e5d-30aa-3057-975f-37513d2c87f5","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"UpdateAttribute","comments":"","instanceIdentifier":"20f375e8-a1eb-3dde-4b87-2a04219b5813"},"labelIndex":0,"zIndex":64,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"73ebde8e-025e-3cd6-a83c-bbf36305bc51","instanceIdentifier":"39c8bda6-0197-1000-066f-b211887b4044","name":"","source":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ExecuteSQL","comments":"","instanceIdentifier":"f46ea172-6efe-3b8e-40d9-056d7873b2c1"},"destination":{"id":"d07a1003-3943-36a0-bb1b-595f67bdf395","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"PublishSlack","comments":"","instanceIdentifier":"39c63a69-0197-1000-11fb-1944bbe7935d"},"labelIndex":0,"zIndex":143,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"f1ecc81e-7142-3f6f-a04a-87b37c30f747","instanceIdentifier":"ce2866cc-d73a-3b8d-02e9-728b3da66ce7","name":"","source":{"id":"ca88a3f3-2612-37d5-98f7-f9d0db1653fa","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ee85305c-9c71-3987-a26e-975eab240995"},"destination":{"id":"ca88a3f3-2612-37d5-98f7-f9d0db1653fa","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ee85305c-9c71-3987-a26e-975eab240995"},"labelIndex":0,"zIndex":134,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1227.0,"y":2104.0},{"x":-1227.0,"y":2154.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"2f2d64d0-ad9f-3d6b-bda7-9a974fd909c6","instanceIdentifier":"6a563d86-3820-3ab7-5a4c-9e1c27ec592d","name":"","source":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"SplitJson","comments":"","instanceIdentifier":"5aff7fd4-ac13-392c-e0eb-7fcd39622dd9"},"destination":{"id":"9177bf7d-f688-3d20-b30b-1f4f7a1169cd","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"570ec809-16ce-3d0a-027c-d4ab95a6a5b6"},"labelIndex":0,"zIndex":61,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"81d075d5-2e8e-3d0c-93db-f1115c5da5d6","instanceIdentifier":"7ac59b6e-fd50-3005-5e59-fd4e55f2626f","name":"","source":{"id":"886cae40-1bd8-32c4-8b49-eef2e9d3ae62","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"998c77d0-fa16-36ab-0415-25d56449e71d"},"destination":{"id":"886cae40-1bd8-32c4-8b49-eef2e9d3ae62","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"998c77d0-fa16-36ab-0415-25d56449e71d"},"labelIndex":0,"zIndex":97,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1223.0,"y":1166.0},{"x":-1223.0,"y":1216.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"43870ad9-6095-3991-ba47-0201df9c1926","instanceIdentifier":"e16ffccc-367a-347f-06ed-55c2bc68ebe0","name":"","source":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ConvertRecord","comments":"","instanceIdentifier":"91015bf3-c42f-33b5-3877-d6e0c2e0d32a"},"destination":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ConvertRecord","comments":"","instanceIdentifier":"91015bf3-c42f-33b5-3877-d6e0c2e0d32a"},"labelIndex":0,"zIndex":44,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1232.2171630859375,"y":-983.2315673828125},{"x":-1232.2171630859375,"y":-933.2315673828125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"6a0f41be-e1b2-3749-84ac-ed77bd8fdc34","instanceIdentifier":"7b9f49f4-2848-3e95-1ac6-0498f8134880","name":"","source":{"id":"b99fa203-e9e6-37a4-909b-5c871bc88145","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9bfd0e18-e5ba-30ab-297c-9096f99c0e6a"},"destination":{"id":"954d7a5e-7352-3627-bc46-f333696b3b1d","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"RouteOnAttribute","comments":"","instanceIdentifier":"4aa3bed1-6613-3c10-4ad7-56471031f1c3"},"labelIndex":0,"zIndex":88,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"f3623e4e-1b12-3bf4-b10b-3c5c51bc4aef","instanceIdentifier":"39cc0cf2-0197-1000-0afd-b3150926642b","name":"","source":{"id":"9ed28d95-6bff-3f44-9642-9437d5e7aa26","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"InvokeHTTP","comments":"","instanceIdentifier":"be7bef77-8672-34f1-fa67-c377843137b4"},"destination":{"id":"d07a1003-3943-36a0-bb1b-595f67bdf395","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"PublishSlack","comments":"","instanceIdentifier":"39c63a69-0197-1000-11fb-1944bbe7935d"},"labelIndex":0,"zIndex":146,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"4e7e2dc9-fcb6-3d7a-bfe9-472b64fa4ccf","instanceIdentifier":"49e19910-0b71-3465-6c6c-3f01b3b3d836","name":"","source":{"id":"4e5c3fe5-492c-3fe8-b144-51420a21a273","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"459990b4-2e90-3772-497c-4ea327b33321"},"destination":{"id":"f47c17e0-c3a2-352c-8e93-e28e0e589c53","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ReplaceText","comments":"","instanceIdentifier":"73ce2f0f-eb73-3fb3-eb78-d38a03146885"},"labelIndex":0,"zIndex":112,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"23195169-4c05-3d65-98a9-82ec04c1fc7f","instanceIdentifier":"cad1069c-58be-31be-8cad-b8dca4a07a7e","name":"","source":{"id":"5a3fb17e-f53b-35f9-939a-1c19c8c9da8d","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"InvokeHTTP","comments":"","instanceIdentifier":"1ef8bc14-22ed-3344-7106-241ec0028365"},"destination":{"id":"5a3fb17e-f53b-35f9-939a-1c19c8c9da8d","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"InvokeHTTP","comments":"","instanceIdentifier":"1ef8bc14-22ed-3344-7106-241ec0028365"},"labelIndex":0,"zIndex":135,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1923.0,"y":103.0},{"x":-1923.0,"y":153.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"8e9829a3-daf3-3105-8b23-ee1657c1c7b4","instanceIdentifier":"18862838-40e6-3697-e153-df4aaf1b376c","name":"","source":{"id":"8d14ec05-73bd-31d9-b25e-5ce69f1bc7d4","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ExecuteSQL","comments":"","instanceIdentifier":"e4572e4f-2aac-36b1-b587-345983e62d84"},"destination":{"id":"8d14ec05-73bd-31d9-b25e-5ce69f1bc7d4","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ExecuteSQL","comments":"","instanceIdentifier":"e4572e4f-2aac-36b1-b587-345983e62d84"},"labelIndex":0,"zIndex":142,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1233.1978759765625,"y":2606.508056640625},{"x":-1233.1978759765625,"y":2656.508056640625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"dee0d8c6-2e21-365f-bc73-cb75b43b129d","instanceIdentifier":"2c68fc9a-35ce-3dcd-593b-4a36c46ba81f","name":"","source":{"id":"c7cd11a4-2417-3da2-85f6-5674649cb951","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"UpdateAttribute","comments":"","instanceIdentifier":"555bc312-dd79-38bb-9f9c-4af7fa5880df"},"destination":{"id":"8d14ec05-73bd-31d9-b25e-5ce69f1bc7d4","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ExecuteSQL","comments":"","instanceIdentifier":"e4572e4f-2aac-36b1-b587-345983e62d84"},"labelIndex":0,"zIndex":140,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"eb34f043-cb52-3bee-aea4-24d3079c88cd","instanceIdentifier":"f5f0a6fc-2601-3578-86f1-734911ff90b3","name":"","source":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ExecuteSQL","comments":"","instanceIdentifier":"f46ea172-6efe-3b8e-40d9-056d7873b2c1"},"destination":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ExecuteSQL","comments":"","instanceIdentifier":"f46ea172-6efe-3b8e-40d9-056d7873b2c1"},"labelIndex":0,"zIndex":43,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1208.4390563964844,"y":-1231.8839111328125},{"x":-1208.4390563964844,"y":-1181.8839111328125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"71cc32eb-2c98-33d5-a1b5-72d6c557da54","instanceIdentifier":"39cdc713-0197-1000-7286-21918d019d33","name":"","source":{"id":"d07a1003-3943-36a0-bb1b-595f67bdf395","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"PublishSlack","comments":"","instanceIdentifier":"39c63a69-0197-1000-11fb-1944bbe7935d"},"destination":{"id":"d07a1003-3943-36a0-bb1b-595f67bdf395","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"PublishSlack","comments":"","instanceIdentifier":"39c63a69-0197-1000-11fb-1944bbe7935d"},"labelIndex":0,"zIndex":150,"selectedRelationships":["rate limited","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-2163.0,"y":1743.0},{"x":-2163.0,"y":1793.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"0fc68c3a-2351-349e-a36e-95e416c341b5","instanceIdentifier":"620c0fd4-dcda-3b2c-b502-fdebb5608bf9","name":"","source":{"id":"76316f8b-f7cc-3393-8acf-7de70ccc3c09","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ReplaceText","comments":"","instanceIdentifier":"a8e34848-afb0-35dd-1eba-04e8e394b752"},"destination":{"id":"76316f8b-f7cc-3393-8acf-7de70ccc3c09","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ReplaceText","comments":"","instanceIdentifier":"a8e34848-afb0-35dd-1eba-04e8e394b752"},"labelIndex":0,"zIndex":98,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1221.0,"y":1389.0},{"x":-1221.0,"y":1439.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"2116e669-9b28-394a-ac1f-b87399cbe4bc","instanceIdentifier":"c288aace-48f9-396a-76bf-a80c63b89739","name":"","source":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ConvertRecord","comments":"","instanceIdentifier":"91015bf3-c42f-33b5-3877-d6e0c2e0d32a"},"destination":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"SplitJson","comments":"","instanceIdentifier":"5aff7fd4-ac13-392c-e0eb-7fcd39622dd9"},"labelIndex":0,"zIndex":27,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"61390d37-0556-3536-9ae3-babd6c2d608c","instanceIdentifier":"cd1e0fab-0ee7-3120-849f-f50eda0b43eb","name":"","source":{"id":"ca88a3f3-2612-37d5-98f7-f9d0db1653fa","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ee85305c-9c71-3987-a26e-975eab240995"},"destination":{"id":"c7cd11a4-2417-3da2-85f6-5674649cb951","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"UpdateAttribute","comments":"","instanceIdentifier":"555bc312-dd79-38bb-9f9c-4af7fa5880df"},"labelIndex":0,"zIndex":102,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"41991340-93f3-3719-b5b9-a6b21ce1e762","instanceIdentifier":"907889e9-58ef-396b-7f6a-5cd449dbcc38","name":"","source":{"id":"895baed3-2ccc-34ba-bab0-210603e1914e","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"SplitJson","comments":"","instanceIdentifier":"d21f25e3-1e7f-3477-47ec-4dc4b7771164"},"destination":{"id":"8efbbb0a-5b1c-317c-83bd-ef5c68c35455","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"03d570d9-054a-384f-a384-778556e5f9c6"},"labelIndex":0,"zIndex":119,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"47c9a163-3663-3375-b93c-99539354fbde","instanceIdentifier":"39d00534-0197-1000-016c-558862cdbc07","name":"","source":{"id":"54aee77e-f82e-3cdb-bef6-facd1a45603c","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"GenerateFlowFile","comments":"","instanceIdentifier":"39cf3bc9-0197-1000-4170-84d3a36ffb23"},"destination":{"id":"d07a1003-3943-36a0-bb1b-595f67bdf395","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"PublishSlack","comments":"","instanceIdentifier":"39c63a69-0197-1000-11fb-1944bbe7935d"},"labelIndex":0,"zIndex":151,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"6b29736e-5181-3f37-a587-679ffa035374","instanceIdentifier":"90302daa-63bf-3c7f-06e6-6fd09ee719b6","name":"","source":{"id":"4e5c3fe5-492c-3fe8-b144-51420a21a273","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"459990b4-2e90-3772-497c-4ea327b33321"},"destination":{"id":"4e5c3fe5-492c-3fe8-b144-51420a21a273","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"459990b4-2e90-3772-497c-4ea327b33321"},"labelIndex":0,"zIndex":122,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1228.563232421875,"y":1619.322021484375},{"x":-1228.563232421875,"y":1669.322021484375}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"7c2e4ec4-3a6a-30cb-9869-96b60b442f06","instanceIdentifier":"306b185b-3748-3fd1-53d5-66646ce3d150","name":"","source":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"InvokeHTTP","comments":"","instanceIdentifier":"577be488-1868-339f-53e1-ebc5f7ec14c5"},"destination":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"InvokeHTTP","comments":"","instanceIdentifier":"577be488-1868-339f-53e1-ebc5f7ec14c5"},"labelIndex":0,"zIndex":96,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1219.0,"y":7.0},{"x":-1219.0,"y":57.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"6b518ba6-14b5-3a69-82c6-875092568588","instanceIdentifier":"2802b7c5-158b-33fb-bc45-1075b13ec1d6","name":"","source":{"id":"7aec2e5d-30aa-3057-975f-37513d2c87f5","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"UpdateAttribute","comments":"","instanceIdentifier":"20f375e8-a1eb-3dde-4b87-2a04219b5813"},"destination":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"InvokeHTTP","comments":"","instanceIdentifier":"577be488-1868-339f-53e1-ebc5f7ec14c5"},"labelIndex":0,"zIndex":33,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"a89cf7e4-f530-3d36-a062-e2a5c61e779b","instanceIdentifier":"1129d305-d673-3437-4155-e4081b73e29c","name":"","source":{"id":"f47c17e0-c3a2-352c-8e93-e28e0e589c53","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ReplaceText","comments":"","instanceIdentifier":"73ce2f0f-eb73-3fb3-eb78-d38a03146885"},"destination":{"id":"f47c17e0-c3a2-352c-8e93-e28e0e589c53","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ReplaceText","comments":"","instanceIdentifier":"73ce2f0f-eb73-3fb3-eb78-d38a03146885"},"labelIndex":0,"zIndex":126,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1232.7308349609375,"y":1871.0579833984375},{"x":-1232.7308349609375,"y":1921.0579833984375}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"61ea9e41-e474-339f-8bd1-e39639f29e44","instanceIdentifier":"39cd917a-0197-1000-bf93-a59dfacd0cc3","name":"","source":{"id":"8d14ec05-73bd-31d9-b25e-5ce69f1bc7d4","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"ExecuteSQL","comments":"","instanceIdentifier":"e4572e4f-2aac-36b1-b587-345983e62d84"},"destination":{"id":"d07a1003-3943-36a0-bb1b-595f67bdf395","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"PublishSlack","comments":"","instanceIdentifier":"39c63a69-0197-1000-11fb-1944bbe7935d"},"labelIndex":0,"zIndex":149,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"f4f3bb92-1f31-3b37-86f4-f138390d731b","instanceIdentifier":"11fa80d2-13c7-3975-26b3-13b96f872deb","name":"","source":{"id":"8efbbb0a-5b1c-317c-83bd-ef5c68c35455","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"03d570d9-054a-384f-a384-778556e5f9c6"},"destination":{"id":"8efbbb0a-5b1c-317c-83bd-ef5c68c35455","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"03d570d9-054a-384f-a384-778556e5f9c6"},"labelIndex":0,"zIndex":106,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1195.0,"y":743.0},{"x":-1195.0,"y":793.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"08486045-c68b-3be1-b41f-208ff17ec1ad","instanceIdentifier":"39cd3383-0197-1000-b865-00096af1aea5","name":"","source":{"id":"4e5c3fe5-492c-3fe8-b144-51420a21a273","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"459990b4-2e90-3772-497c-4ea327b33321"},"destination":{"id":"d07a1003-3943-36a0-bb1b-595f67bdf395","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"PublishSlack","comments":"","instanceIdentifier":"39c63a69-0197-1000-11fb-1944bbe7935d"},"labelIndex":0,"zIndex":148,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"f66e648f-622c-3057-8745-7d0a26b1cb3a","instanceIdentifier":"39ca70a1-0197-1000-3a9f-015c3aa8ee90","name":"","source":{"id":"5a3fb17e-f53b-35f9-939a-1c19c8c9da8d","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"InvokeHTTP","comments":"","instanceIdentifier":"1ef8bc14-22ed-3344-7106-241ec0028365"},"destination":{"id":"d07a1003-3943-36a0-bb1b-595f67bdf395","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"PublishSlack","comments":"","instanceIdentifier":"39c63a69-0197-1000-11fb-1944bbe7935d"},"labelIndex":0,"zIndex":145,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"9125e46c-6b8b-31ac-9d14-a51ab42476e1","instanceIdentifier":"fb58d844-15b6-33cd-8559-18b51e2d1fb0","name":"","source":{"id":"9177bf7d-f688-3d20-b30b-1f4f7a1169cd","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"570ec809-16ce-3d0a-027c-d4ab95a6a5b6"},"destination":{"id":"9177bf7d-f688-3d20-b30b-1f4f7a1169cd","type":"PROCESSOR","groupId":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"570ec809-16ce-3d0a-027c-d4ab95a6a5b6"},"labelIndex":0,"zIndex":72,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1207.7897338867188,"y":-493.4829406738281},{"x":-1207.7897338867188,"y":-443.4829406738281}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"7654fc78-7982-375f-a481-0a8eb422212a","instanceIdentifier":"6a97d725-87e5-3a42-d3f2-3059730dde94","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.4.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://#{Host}:#{Port}/#{DB_name}?ssl=false","dbcp-time-between-eviction-runs":"-1","Database User":"#{User}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/Users/akhilreddy/Downloads/nifi-2.4.0/db/postgresql-42.7.5.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"8573c07a-35aa-3a72-bbd5-6d0fe3d3c511","instanceIdentifier":"857447ed-d23c-3bf3-98d6-79c76c319d04","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"5d2c0c19-6683-3e28-882d-f29aa981ad83","instanceIdentifier":"30ebe7d7-656f-35f9-dd5f-24b54984886e","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"},{"identifier":"8ca7de69-cf77-308c-a5b7-8697ec2fc9a9","instanceIdentifier":"0d832dbb-0197-1000-ddb4-ca1dcb7ad803","name":"DBCPConnectionPool_stage_redshift","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.4.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.amazon.redshift.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:redshift://staging-redshift.ciqb81brdshb.us-west-2.redshift.amazonaws.com:5439/stage","dbcp-time-between-eviction-runs":"-1","Database User":"stage-user","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":null,"dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"35b4183d-0197-1000-e5be-5664db4c8fad"},{"identifier":"19ceac6a-240c-3880-a111-1b3710fa7759","instanceIdentifier":"e5639355-87fa-32a6-5dbc-9140a2ae3daa","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"78fe1c22-f61c-3900-9d38-ffa06fa7ac3b"}],"parameterContextName":"HitscanParameters (3)","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Youtube API key":{"name":"Youtube API key","parameters":[{"name":"api_key","description":"","sensitive":false,"provided":false,"value":"AIzaSyCz7mEWTtpYlYp9COoa_DSX3DYoT9vX6wA"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"},"HitscanParameters (3)":{"name":"HitscanParameters (3)","parameters":[{"name":"User","description":"","sensitive":false,"provided":false,"value":"stage-user"},{"name":"Host","description":"","sensitive":false,"provided":false,"value":"staging-redshift.ciqb81brdshb.us-west-2.redshift.amazonaws.com"},{"name":"Port","description":"","sensitive":false,"provided":false,"value":"5439"},{"name":"Record Reader","description":"","sensitive":false,"provided":false,"value":"JsonTreeReader"},{"name":"DB_name","description":"","sensitive":false,"provided":false,"value":"stage"}],"inheritedParameterContexts":["Youtube API key"],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}