data-pipelines/Youtube_Channel_ids.json
{"flowContents":{"identifier":"9e699b23-82e4-33b4-a98c-89c14934a451","instanceIdentifier":"5858d661-0197-1000-c17b-a035293e5e51","name":"Youtube_Channel_ids","comments":"","position":{"x":-312.0,"y":-728.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"eede15f8-52a2-3fa9-95aa-0130f3a667e7","instanceIdentifier":"75bf7a69-eed1-3acf-32c9-a514dda46aa9","name":"SplitJson","comments":"","position":{"x":-184.0,"y":8.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"d86fd70c-3579-34b5-ae1f-62405d0f568f","instanceIdentifier":"58ee0272-0197-1000-7603-cd28da918bde","name":"PutDatabaseRecord","comments":"","position":{"x":-104.0,"y":1904.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"caac58d4-961c-3443-961a-d8d6b2a39138","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"youtube_channel_ids","put-db-record-record-reader":"2e79d84a-becf-3733-aa17-061614eef252"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"8fd766d7-1e50-317d-9980-cdfee559f792","instanceIdentifier":"cd28a76b-15cb-30e5-3392-101a6dde7483","name":"InvokeHTTP","comments":"","position":{"x":256.0,"y":760.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"10 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"${url}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"343a57eb-ef76-3fc2-a218-9075a5957028","instanceIdentifier":"58c80038-0197-1000-476b-247660400123","name":"EvaluateJsonPath","comments":"","position":{"x":-184.0,"y":216.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","id":"$.id","url":"$.url","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"id":{"name":"id","displayName":"id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"32a34dd4-c5ce-3d37-928a-f71e8ec6f210","instanceIdentifier":"5442cb8b-80b0-3f6b-0353-ef042d6296eb","name":"ExtractText","comments":"","position":{"x":272.0,"y":992.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","channel_id":"UC[0-9A-Za-z_-]{22}"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false},"channel_id":{"name":"channel_id","displayName":"channel_id","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"0b22d6f9-0709-38fa-a741-117ef35d4046","instanceIdentifier":"59548cd1-0197-1000-65e3-c0886bb04e29","name":"AttributesToJSON","comments":"","position":{"x":-104.0,"y":1448.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"id,channel_id","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"2418fd60-b9d4-3351-9c3d-d5dfab74fbad","instanceIdentifier":"58bb09f8-0197-1000-b07b-d918215771f1","name":"ConvertRecord","comments":"","position":{"x":-176.0,"y":-192.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"4bffd4b7-7dbd-372c-9bdb-1cabfcf8a253","Record Reader":"653164ba-8517-3eff-9012-6a84e626d336"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"8e9ec244-f99a-3bd0-86e3-901c46128377","instanceIdentifier":"5960eb19-0197-1000-fc36-51287cdf2a7f","name":"UpdateAttribute","comments":"","position":{"x":272.0,"y":1216.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"channel_id":"${channel_id.0}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"channel_id":{"name":"channel_id","displayName":"channel_id","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"fa5a66e7-ee90-374a-b772-5c904a6cbf6a","instanceIdentifier":"585af65b-0197-1000-9a15-790b4780c211","name":"ExecuteSQL","comments":"","position":{"x":-176.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"SELECT p.id, p.name, p.url\nFROM platforms p\nLEFT JOIN youtube_channel_ids yci ON p.id = yci.id\nWHERE p.type = 'youtube' AND yci.id IS NULL;\n","Database Connection Pooling Service":"caac58d4-961c-3443-961a-d8d6b2a39138","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"151a359e-bf6b-3396-8776-c4a01d320868","instanceIdentifier":"58eaa727-0197-1000-137b-1e4b50556372","name":"MergeRecord","comments":"","position":{"x":-104.0,"y":1648.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"max-bin-age":"1 min","correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"10","max-bin-size":null,"record-writer":"4bffd4b7-7dbd-372c-9bdb-1cabfcf8a253","merge-strategy":"Bin-Packing Algorithm","record-reader":"2e79d84a-becf-3733-aa17-061614eef252","max-records":"100","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"fcd1391f-1967-33d2-8939-e7dfb59c4788","instanceIdentifier":"58e69a5f-0197-1000-7f4f-1ea0e8ccf1e3","name":"UpdateAttribute","comments":"","position":{"x":-496.0,"y":896.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"channel_id":"${url:replaceAll(\"^.*channel/(UC[a-zA-Z0-9_-]{21,}).*$\", \"$1\")}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"channel_id":{"name":"channel_id","displayName":"channel_id","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"5ddfdcde-af07-37dc-88f2-b40f743528c5","instanceIdentifier":"58dacf64-0197-1000-ca05-9c7f47452097","name":"RouteOnAttribute","comments":"","position":{"x":-192.0,"y":448.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name","matched_channel":"${url:matches(\".*channel/UC[a-zA-Z0-9_-]{21,}.*\")}","unmatched_channel":"${url:matches(\".*channel/UC[a-zA-Z0-9_-]{21,}.*\"):not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"matched_channel":{"name":"matched_channel","displayName":"matched_channel","identifiesControllerService":false,"sensitive":false,"dynamic":true},"unmatched_channel":{"name":"unmatched_channel","displayName":"unmatched_channel","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"fdf5816a-17b6-34d6-b44d-93d451717319","instanceIdentifier":"58fc0600-0197-1000-e6c0-4be34f99b009","name":"","source":{"id":"5ddfdcde-af07-37dc-88f2-b40f743528c5","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"RouteOnAttribute","comments":"","instanceIdentifier":"58dacf64-0197-1000-ca05-9c7f47452097"},"destination":{"id":"fcd1391f-1967-33d2-8939-e7dfb59c4788","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"UpdateAttribute","comments":"","instanceIdentifier":"58e69a5f-0197-1000-7f4f-1ea0e8ccf1e3"},"labelIndex":0,"zIndex":59,"selectedRelationships":["matched_channel"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"7b1a2c65-02f4-3278-963c-8950f8d157a1","instanceIdentifier":"ba269c97-fe57-3a87-6b59-9de3e02ac357","name":"","source":{"id":"eede15f8-52a2-3fa9-95aa-0130f3a667e7","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"SplitJson","comments":"","instanceIdentifier":"75bf7a69-eed1-3acf-32c9-a514dda46aa9"},"destination":{"id":"343a57eb-ef76-3fc2-a218-9075a5957028","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"58c80038-0197-1000-476b-247660400123"},"labelIndex":0,"zIndex":2,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"7ff77870-89d0-3b57-b8f0-edb275c8265a","instanceIdentifier":"50043a0d-a1a9-3a60-8f82-6257d25530d2","name":"","source":{"id":"8fd766d7-1e50-317d-9980-cdfee559f792","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"InvokeHTTP","comments":"","instanceIdentifier":"cd28a76b-15cb-30e5-3392-101a6dde7483"},"destination":{"id":"32a34dd4-c5ce-3d37-928a-f71e8ec6f210","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"ExtractText","comments":"","instanceIdentifier":"5442cb8b-80b0-3f6b-0353-ef042d6296eb"},"labelIndex":0,"zIndex":10,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"95da6ba9-3860-36d9-bcf0-10d3d94b98bd","instanceIdentifier":"5955c86e-0197-1000-6a95-865f1942fa21","name":"","source":{"id":"0b22d6f9-0709-38fa-a741-117ef35d4046","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"AttributesToJSON","comments":"","instanceIdentifier":"59548cd1-0197-1000-65e3-c0886bb04e29"},"destination":{"id":"151a359e-bf6b-3396-8776-c4a01d320868","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"MergeRecord","comments":"","instanceIdentifier":"58eaa727-0197-1000-137b-1e4b50556372"},"labelIndex":0,"zIndex":64,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"edd91666-3814-3b9d-bbd0-23afd3d20ff1","instanceIdentifier":"632451fc-0197-1000-5387-f564c1af2194","name":"","source":{"id":"32a34dd4-c5ce-3d37-928a-f71e8ec6f210","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"ExtractText","comments":"","instanceIdentifier":"5442cb8b-80b0-3f6b-0353-ef042d6296eb"},"destination":{"id":"32a34dd4-c5ce-3d37-928a-f71e8ec6f210","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"ExtractText","comments":"","instanceIdentifier":"5442cb8b-80b0-3f6b-0353-ef042d6296eb"},"labelIndex":0,"zIndex":84,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":741.0,"y":1031.0},{"x":741.0,"y":1081.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"ad68f7a0-9a03-36db-8586-450bde26860d","instanceIdentifier":"5963fc75-0197-1000-3cc6-2847cd5a3484","name":"","source":{"id":"8e9ec244-f99a-3bd0-86e3-901c46128377","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"UpdateAttribute","comments":"","instanceIdentifier":"5960eb19-0197-1000-fc36-51287cdf2a7f"},"destination":{"id":"0b22d6f9-0709-38fa-a741-117ef35d4046","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"AttributesToJSON","comments":"","instanceIdentifier":"59548cd1-0197-1000-65e3-c0886bb04e29"},"labelIndex":0,"zIndex":71,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"5557d4cf-2eec-3abf-8e00-fb74a54674b0","instanceIdentifier":"6322595e-0197-1000-2bd3-0bdac2170588","name":"","source":{"id":"eede15f8-52a2-3fa9-95aa-0130f3a667e7","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"SplitJson","comments":"","instanceIdentifier":"75bf7a69-eed1-3acf-32c9-a514dda46aa9"},"destination":{"id":"eede15f8-52a2-3fa9-95aa-0130f3a667e7","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"SplitJson","comments":"","instanceIdentifier":"75bf7a69-eed1-3acf-32c9-a514dda46aa9"},"labelIndex":0,"zIndex":82,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":285.0,"y":47.0},{"x":285.0,"y":97.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"54c89f1c-a0c6-31fe-aa0a-8ce48e90c395","instanceIdentifier":"587cdeec-0197-1000-1ecb-eeef61b9ed58","name":"","source":{"id":"fa5a66e7-ee90-374a-b772-5c904a6cbf6a","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"ExecuteSQL","comments":"","instanceIdentifier":"585af65b-0197-1000-9a15-790b4780c211"},"destination":{"id":"fa5a66e7-ee90-374a-b772-5c904a6cbf6a","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"ExecuteSQL","comments":"","instanceIdentifier":"585af65b-0197-1000-9a15-790b4780c211"},"labelIndex":0,"zIndex":38,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":292.0,"y":-362.0},{"x":292.0,"y":-312.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"a518095c-178d-3679-8306-45aac9ea57ab","instanceIdentifier":"58bc78f6-0197-1000-038e-496881ccb2ff","name":"","source":{"id":"2418fd60-b9d4-3351-9c3d-d5dfab74fbad","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"ConvertRecord","comments":"","instanceIdentifier":"58bb09f8-0197-1000-b07b-d918215771f1"},"destination":{"id":"2418fd60-b9d4-3351-9c3d-d5dfab74fbad","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"ConvertRecord","comments":"","instanceIdentifier":"58bb09f8-0197-1000-b07b-d918215771f1"},"labelIndex":0,"zIndex":45,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":292.0,"y":-155.0},{"x":292.0,"y":-105.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"275453c3-acc6-3bff-968f-9408c69bfd83","instanceIdentifier":"58bb641e-0197-1000-7b80-0439c8e3f562","name":"","source":{"id":"fa5a66e7-ee90-374a-b772-5c904a6cbf6a","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"ExecuteSQL","comments":"","instanceIdentifier":"585af65b-0197-1000-9a15-790b4780c211"},"destination":{"id":"2418fd60-b9d4-3351-9c3d-d5dfab74fbad","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"ConvertRecord","comments":"","instanceIdentifier":"58bb09f8-0197-1000-b07b-d918215771f1"},"labelIndex":0,"zIndex":43,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"523b0e06-7a06-3c65-9257-50282aff1261","instanceIdentifier":"632727ff-0197-1000-3df4-d0973bb5f64c","name":"","source":{"id":"d86fd70c-3579-34b5-ae1f-62405d0f568f","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"58ee0272-0197-1000-7603-cd28da918bde"},"destination":{"id":"d86fd70c-3579-34b5-ae1f-62405d0f568f","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"58ee0272-0197-1000-7603-cd28da918bde"},"labelIndex":0,"zIndex":85,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":365.0,"y":1943.0},{"x":365.0,"y":1993.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"60aa49bb-24be-3722-ba03-5bddd2397f65","instanceIdentifier":"510f91bb-6feb-3965-ced9-298dcfaa1fca","name":"","source":{"id":"8fd766d7-1e50-317d-9980-cdfee559f792","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"InvokeHTTP","comments":"","instanceIdentifier":"cd28a76b-15cb-30e5-3392-101a6dde7483"},"destination":{"id":"8fd766d7-1e50-317d-9980-cdfee559f792","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"InvokeHTTP","comments":"","instanceIdentifier":"cd28a76b-15cb-30e5-3392-101a6dde7483"},"labelIndex":0,"zIndex":14,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":715.2505936877717,"y":805.0272827148438},{"x":715.2505936877717,"y":855.0272827148438}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"44c00311-0d80-335c-9a1a-7a4ab41b9fef","instanceIdentifier":"595736da-0197-1000-eb9d-e8752e6c7bc4","name":"","source":{"id":"fcd1391f-1967-33d2-8939-e7dfb59c4788","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"UpdateAttribute","comments":"","instanceIdentifier":"58e69a5f-0197-1000-7f4f-1ea0e8ccf1e3"},"destination":{"id":"0b22d6f9-0709-38fa-a741-117ef35d4046","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"AttributesToJSON","comments":"","instanceIdentifier":"59548cd1-0197-1000-65e3-c0886bb04e29"},"labelIndex":0,"zIndex":66,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"951d4291-8ec9-3c06-8e74-7bb2ce6e3c15","instanceIdentifier":"58bc59a6-0197-1000-7deb-c008531bc988","name":"","source":{"id":"2418fd60-b9d4-3351-9c3d-d5dfab74fbad","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"ConvertRecord","comments":"","instanceIdentifier":"58bb09f8-0197-1000-b07b-d918215771f1"},"destination":{"id":"eede15f8-52a2-3fa9-95aa-0130f3a667e7","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"SplitJson","comments":"","instanceIdentifier":"75bf7a69-eed1-3acf-32c9-a514dda46aa9"},"labelIndex":0,"zIndex":44,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"a7207bed-699b-39ab-8614-28a6f2e7b21b","instanceIdentifier":"58e21742-0197-1000-6d00-10e9bf7a8cf5","name":"","source":{"id":"5ddfdcde-af07-37dc-88f2-b40f743528c5","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"RouteOnAttribute","comments":"","instanceIdentifier":"58dacf64-0197-1000-ca05-9c7f47452097"},"destination":{"id":"8fd766d7-1e50-317d-9980-cdfee559f792","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"InvokeHTTP","comments":"","instanceIdentifier":"cd28a76b-15cb-30e5-3392-101a6dde7483"},"labelIndex":0,"zIndex":50,"selectedRelationships":["unmatched_channel"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"cdaed779-01c0-3ca5-8c17-bedfd5068b07","instanceIdentifier":"5955fdb5-0197-1000-ea01-d005b5cc9ad4","name":"","source":{"id":"0b22d6f9-0709-38fa-a741-117ef35d4046","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"AttributesToJSON","comments":"","instanceIdentifier":"59548cd1-0197-1000-65e3-c0886bb04e29"},"destination":{"id":"0b22d6f9-0709-38fa-a741-117ef35d4046","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"AttributesToJSON","comments":"","instanceIdentifier":"59548cd1-0197-1000-65e3-c0886bb04e29"},"labelIndex":0,"zIndex":65,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":361.0,"y":1486.0},{"x":361.0,"y":1536.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"f09c2d38-22eb-3ff5-bb4d-0b50542f848c","instanceIdentifier":"632331e5-0197-1000-316c-2bb9421544e0","name":"","source":{"id":"343a57eb-ef76-3fc2-a218-9075a5957028","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"58c80038-0197-1000-476b-247660400123"},"destination":{"id":"343a57eb-ef76-3fc2-a218-9075a5957028","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"58c80038-0197-1000-476b-247660400123"},"labelIndex":0,"zIndex":83,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":285.0,"y":255.0},{"x":285.0,"y":305.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"e6013388-5f0c-310e-b01c-711ec51910d9","instanceIdentifier":"59656661-0197-1000-29b9-fedf6c4ced51","name":"","source":{"id":"32a34dd4-c5ce-3d37-928a-f71e8ec6f210","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"ExtractText","comments":"","instanceIdentifier":"5442cb8b-80b0-3f6b-0353-ef042d6296eb"},"destination":{"id":"8e9ec244-f99a-3bd0-86e3-901c46128377","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"UpdateAttribute","comments":"","instanceIdentifier":"5960eb19-0197-1000-fc36-51287cdf2a7f"},"labelIndex":0,"zIndex":72,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"1fd8824e-aecb-3424-aea2-685939fce36e","instanceIdentifier":"58c928ed-0197-1000-1bca-b823755fa10e","name":"","source":{"id":"343a57eb-ef76-3fc2-a218-9075a5957028","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"58c80038-0197-1000-476b-247660400123"},"destination":{"id":"5ddfdcde-af07-37dc-88f2-b40f743528c5","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"RouteOnAttribute","comments":"","instanceIdentifier":"58dacf64-0197-1000-ca05-9c7f47452097"},"labelIndex":0,"zIndex":46,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"cd324bf5-c975-37a0-aef0-91a84946770a","instanceIdentifier":"6327a7f2-0197-1000-135b-6fc5825ef744","name":"","source":{"id":"151a359e-bf6b-3396-8776-c4a01d320868","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"MergeRecord","comments":"","instanceIdentifier":"58eaa727-0197-1000-137b-1e4b50556372"},"destination":{"id":"151a359e-bf6b-3396-8776-c4a01d320868","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"MergeRecord","comments":"","instanceIdentifier":"58eaa727-0197-1000-137b-1e4b50556372"},"labelIndex":0,"zIndex":86,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":365.0,"y":1687.0},{"x":365.0,"y":1737.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"cdbb82d7-b101-33fe-a455-ec5949a62cb7","instanceIdentifier":"5e8c0826-0197-1000-4a4a-46cf4e6d8660","name":"","source":{"id":"151a359e-bf6b-3396-8776-c4a01d320868","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"MergeRecord","comments":"","instanceIdentifier":"58eaa727-0197-1000-137b-1e4b50556372"},"destination":{"id":"d86fd70c-3579-34b5-ae1f-62405d0f568f","type":"PROCESSOR","groupId":"9e699b23-82e4-33b4-a98c-89c14934a451","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"58ee0272-0197-1000-7603-cd28da918bde"},"labelIndex":0,"zIndex":76,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"}],"labels":[{"identifier":"af78390b-f92d-3388-b65c-61651e9d1690","instanceIdentifier":"1b1c7a09-2af6-36e8-bd71-40b9566efd94","position":{"x":432.0,"y":-344.0},"label":"method 1 : Scrapping\n\npros :\n-> making http request directly without using api key. ( so no impact on daily request quota )\n-> can get exact channelId corresponding to the channel name.\n\ncons :\n-> the process consumes to much time .","zIndex":1,"width":424.0,"height":160.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"}],"funnels":[],"controllerServices":[{"identifier":"2e79d84a-becf-3733-aa17-061614eef252","instanceIdentifier":"58eb4461-0197-1000-5fb1-066a980316e3","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"653164ba-8517-3eff-9012-6a84e626d336","instanceIdentifier":"58bbc9b4-0197-1000-3f23-a043cb252b5b","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"},{"identifier":"4bffd4b7-7dbd-372c-9bdb-1cabfcf8a253","instanceIdentifier":"58bc1ffb-0197-1000-1d37-64288f756e71","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e699b23-82e4-33b4-a98c-89c14934a451"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"caac58d4-961c-3443-961a-d8d6b2a39138":{"identifier":"caac58d4-961c-3443-961a-d8d6b2a39138","name":"DBCPConnectionPool_hitscan"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}