data-pipelines/Youtube_channels_processor.json
{"flowContents":{"identifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828","instanceIdentifier":"5e582877-0197-1000-4627-b4934138f0cc","name":"Youtube_channels_processor","comments":"","position":{"x":-328.0,"y":-160.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"96684003-2cb8-3da7-bc0e-6b8719add7a3","instanceIdentifier":"0bae255e-5a88-39dc-a80c-71aa12d90a6c","name":"ExecuteSQL","comments":"","position":{"x":-1736.0,"y":-1008.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"${sql.query}","Database Connection Pooling Service":"caac58d4-961c-3443-961a-d8d6b2a39138","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"c33aad0c-2096-3f21-af24-adb25c9ac0bb","instanceIdentifier":"633eeaee-0197-1000-d4d2-8b7bd9e95841","name":"RouteOnAttribute","comments":"","position":{"x":-1768.0,"y":576.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name","has_required_fields":"${youtube_id:trim():length():gt(0)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"has_required_fields":{"name":"has_required_fields","displayName":"has_required_fields","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"2815a797-51b3-34b0-9188-99680da28c02","instanceIdentifier":"5af12eec-0b5d-3a4f-215a-481497dce9cd","name":"JoltTransformJSON","comments":"","position":{"x":-1752.0,"y":192.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.4.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"items\": {\n        \"*\": {\n          \"id\": \"youtube_id\",\n          \"snippet\": {\n            \"title\": \"title\",\n            \"description\": \"description\",\n            \"publishedAt\": \"youtube_created_at\",\n            \"country\": \"country\"\n          },\n          \"statistics\": {\n            \"viewCount\": \"views\",\n            \"subscriberCount\": \"subscribers\",\n            \"videoCount\": \"videos\"\n          },\n          \"contentDetails\": {\n            \"relatedPlaylists\": {\n              \"uploads\": \"uploads_playlist\"\n            }\n          }\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n      \"country\": \"N/A\",\n      \"uploads_playlist\": \"N/A\"\n    }\n  }\n]\n"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","instanceIdentifier":"1eb5b561-945d-3ad6-0e40-b56db2473b24","name":"ConvertRecord","comments":"","position":{"x":-1736.0,"y":-824.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"8573c07a-35aa-3a72-bbd5-6d0fe3d3c511","Record Reader":"19ceac6a-240c-3880-a111-1b3710fa7759"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"5544dda7-7949-3f6f-9b9e-d6461c791241","instanceIdentifier":"bab9f67f-d0cc-3bd5-54fe-9e4402e0d47c","name":"GenerateFlowFile","comments":"","position":{"x":136.0,"y":-504.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{ \"message\" : \"Staging youtube pipeline alerts testing\" }","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"6f922fe6-3155-3362-88ac-3addf4a7c8d3","instanceIdentifier":"ddaf3ffc-fc01-33f7-c0a9-eadda551cdda","name":"ExtractText","comments":"","position":{"x":-1728.0,"y":-1192.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","sql.query":"(?s)(.*)","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql.query":{"name":"sql.query","displayName":"sql.query","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"c20d9d48-883c-3f39-8da7-259614145012","instanceIdentifier":"835093a2-e793-33ba-0f10-8e5fc12a7519","name":"EvaluateJsonPath","comments":"","position":{"x":-1768.0,"y":384.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","country":"$.country","Max String Length":"20 MB","subscribers":"$.subscribers","Return Type":"json","uploads_playlist":"$.uploads_playlist","youtube_created_at":"$.youtube_created_at","description":"$.description","Null Value Representation":"empty string","videos":"$.videos","title":"$.title","youtube_id":"$.youtube_id","Path Not Found Behavior":"ignore","views":"$.views"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"country":{"name":"country","displayName":"country","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"subscribers":{"name":"subscribers","displayName":"subscribers","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"uploads_playlist":{"name":"uploads_playlist","displayName":"uploads_playlist","identifiesControllerService":false,"sensitive":false,"dynamic":true},"youtube_created_at":{"name":"youtube_created_at","displayName":"youtube_created_at","identifiesControllerService":false,"sensitive":false,"dynamic":true},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"videos":{"name":"videos","displayName":"videos","identifiesControllerService":false,"sensitive":false,"dynamic":true},"title":{"name":"title","displayName":"title","identifiesControllerService":false,"sensitive":false,"dynamic":true},"youtube_id":{"name":"youtube_id","displayName":"youtube_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"views":{"name":"views","displayName":"views","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"62731a8d-e910-3d66-9a45-fbcbb249f57a","instanceIdentifier":"c183b78b-a59e-3f43-73d5-afad7d15be08","name":"SplitJson","comments":"","position":{"x":-1752.0,"y":-624.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"9b868d33-790a-3d76-8e61-f5422df8365e","instanceIdentifier":"0feba953-f964-38d3-98be-aa5e943a24be","name":"PublishSlack","comments":"","position":{"x":-144.0,"y":-248.0},"type":"org.apache.nifi.processors.slack.PublishSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"2.4.0"},"properties":{"Max FlowFile Size":"1 MB","Thread Timestamp":null,"Methods Endpoint Url Prefix":null,"Publish Strategy":"Send FlowFile Content as Message","Channel":"youtube_alert_test","Message Text":null,"Character Set":"UTF-8","Include FlowFile Content as Attachment":"false"},"propertyDescriptors":{"Max FlowFile Size":{"name":"Max FlowFile Size","displayName":"Max FlowFile Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Thread Timestamp":{"name":"Thread Timestamp","displayName":"Thread Timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Methods Endpoint Url Prefix":{"name":"Methods Endpoint Url Prefix","displayName":"Methods Endpoint Url Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Channel":{"name":"Channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Token":{"name":"Access Token","displayName":"Access Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Message Text":{"name":"Message Text","displayName":"Message Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include FlowFile Content as Attachment":{"name":"Include FlowFile Content as Attachment","displayName":"Include FlowFile Content as Attachment","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"3 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"f595b30d-d0f3-3d24-81c9-1774ccfd74a5","instanceIdentifier":"d75b3ee5-4380-3512-213c-20c141cbda7e","name":"GenerateTableFetch","comments":"","position":{"x":-1728.0,"y":-1384.0},"type":"org.apache.nifi.processors.standard.GenerateTableFetch","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"gen-table-output-flowfile-on-zero-results":"false","Table Name":"youtube_channel_ids","db-fetch-db-type":"PostgreSQL","gen-table-custom-orderby-column":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"caac58d4-961c-3443-961a-d8d6b2a39138","gen-table-fetch-partition-size":"50","Columns to Return":"channel_id","Maximum-value Columns":null,"db-fetch-where-clause":null,"Database Dialect Service":null,"gen-table-column-for-val-partitioning":null},"propertyDescriptors":{"gen-table-output-flowfile-on-zero-results":{"name":"gen-table-output-flowfile-on-zero-results","displayName":"Output Empty FlowFile on Zero Results","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gen-table-custom-orderby-column":{"name":"gen-table-custom-orderby-column","displayName":"Custom ORDER BY Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"gen-table-fetch-partition-size":{"name":"gen-table-fetch-partition-size","displayName":"Partition Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"gen-table-column-for-val-partitioning":{"name":"gen-table-column-for-val-partitioning","displayName":"Column for Value Partitioning","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 0 0 * * ?","schedulingStrategy":"CRON_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"96f76b15-a313-3c67-b6c3-4ef22ef9e0a8","instanceIdentifier":"3ac37721-0f10-3906-bef9-e5a3dfc6132a","name":"ReplaceText","comments":"","position":{"x":-1760.0,"y":784.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(\\n|\\r|\\'\")","Replacement Value":"  ","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"bbab8155-2267-36c0-9368-87a840f7e106","instanceIdentifier":"faf6dafa-c886-33a7-721c-c6a674f2d258","name":"ExecuteSQL","comments":"","position":{"x":-1760.0,"y":1184.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"INSERT INTO youtube_channels (\n    youtube_channel_id,\n    title,\n    description,\n    youtube_created_at,\n    views,\n    subscribers,\n    videos,\n    uploads_playlist,\n    country\n)\nVALUES (\n    '${youtube_id}', \n    '${title_clean}', \n    '${description}', \n    '${youtube_created_at}', \n    ${views}, \n    ${subscribers}, \n    ${videos}, \n    '${uploads_playlist}', \n    '${country}'\n);\n","Database Connection Pooling Service":"8ca7de69-cf77-308c-a5b7-8697ec2fc9a9","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"d67e924d-2a91-3c45-8b91-7865934031f6","instanceIdentifier":"89415b64-6146-35ff-a06b-99a1cf7532e6","name":"UpdateAttribute","comments":"","position":{"x":-1760.0,"y":968.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"country_clean":"${country:equals('N/A'):ifElse('NULL', \"'${country}'\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","description":"${description:replaceAll(\"'\", \"''\")}","title_clean":"${title:replaceAll(\"'\", \"''\")}","Stateful Variables Initial Value":null,"uploads_playlist_clean":"${uploads_playlist:equals('N/A'):ifElse('NULL', \"'${uploads_playlist}'\")}"},"propertyDescriptors":{"country_clean":{"name":"country_clean","displayName":"country_clean","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"title_clean":{"name":"title_clean","displayName":"title_clean","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"uploads_playlist_clean":{"name":"uploads_playlist_clean","displayName":"uploads_playlist_clean","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":5,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"c2597881-85ef-3cb3-8769-1ec04a069ebc","instanceIdentifier":"b8813b6e-e0ef-30f0-9348-0231f04eacc5","name":"InvokeHTTP","comments":"","position":{"x":-1744.0,"y":-32.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"${url}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"36887732-7da4-3dc1-8eaa-a14fcee041fa","instanceIdentifier":"73895b3e-4f75-3103-596c-4239c4135b1c","name":"ExtractText","comments":"","position":{"x":-1752.0,"y":-440.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","youtube.channelId":"\"channel_id\"\\s*:\\s*\"([^\"]+)\"","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"youtube.channelId":{"name":"youtube.channelId","displayName":"youtube.channelId","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"7aec2e5d-30aa-3057-975f-37513d2c87f5","instanceIdentifier":"7fbae513-a90b-3a90-9a27-f68ec0caca15","name":"UpdateAttribute","comments":"","position":{"x":-1752.0,"y":-248.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"url":"https://www.googleapis.com/youtube/v3/channels?part=snippet,statistics,contentDetails&id=${youtube.channelId}&key=AIzaSyCz7mEWTtpYlYp9COoa_DSX3DYoT9vX6wA"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"deeb97a1-4de7-35a8-b123-98acc480d368","instanceIdentifier":"22aab53f-9e44-3cc6-ba7e-2c7e6b8dc90e","name":"","source":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"SplitJson","comments":"","instanceIdentifier":"c183b78b-a59e-3f43-73d5-afad7d15be08"},"destination":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"SplitJson","comments":"","instanceIdentifier":"c183b78b-a59e-3f43-73d5-afad7d15be08"},"labelIndex":0,"zIndex":46,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1283.0,"y":-584.0},{"x":-1283.0,"y":-534.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"393f8ab8-f16d-3340-af58-c8778b4215ee","instanceIdentifier":"6c419965-09fc-3ca0-c83e-bf10d2b07d98","name":"","source":{"id":"f595b30d-d0f3-3d24-81c9-1774ccfd74a5","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"GenerateTableFetch","comments":"","instanceIdentifier":"d75b3ee5-4380-3512-213c-20c141cbda7e"},"destination":{"id":"9b868d33-790a-3d76-8e61-f5422df8365e","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"PublishSlack","comments":"","instanceIdentifier":"0feba953-f964-38d3-98be-aa5e943a24be"},"labelIndex":0,"zIndex":65,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"6c5aba36-c2fe-3de6-b109-ba4a6aec9b27","instanceIdentifier":"63458813-0197-1000-ce42-0eeabda3476b","name":"","source":{"id":"c33aad0c-2096-3f21-af24-adb25c9ac0bb","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"RouteOnAttribute","comments":"","instanceIdentifier":"633eeaee-0197-1000-d4d2-8b7bd9e95841"},"destination":{"id":"cbb5f544-1d2e-39da-80f8-08f2aafa8041","type":"FUNNEL","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"Funnel","comments":"","instanceIdentifier":"62b8d3aa-0197-1000-4c8f-935de19ff71e"},"labelIndex":0,"zIndex":96,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"e24759ec-2820-3740-990c-c88e15a89f4a","instanceIdentifier":"efbd93cc-9c30-399a-7aa1-716ae7190db9","name":"","source":{"id":"9b868d33-790a-3d76-8e61-f5422df8365e","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"PublishSlack","comments":"","instanceIdentifier":"0feba953-f964-38d3-98be-aa5e943a24be"},"destination":{"id":"9b868d33-790a-3d76-8e61-f5422df8365e","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"PublishSlack","comments":"","instanceIdentifier":"0feba953-f964-38d3-98be-aa5e943a24be"},"labelIndex":0,"zIndex":69,"selectedRelationships":["rate limited","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":321.5655822753906,"y":-206.94374084472656},{"x":321.5655822753906,"y":-156.94374084472656}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"ed3b404d-b134-374f-b6ed-5dbffc76d516","instanceIdentifier":"e2e59905-5c2e-3d5c-2b45-2e11d16072b1","name":"","source":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ExecuteSQL","comments":"","instanceIdentifier":"0bae255e-5a88-39dc-a80c-71aa12d90a6c"},"destination":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ConvertRecord","comments":"","instanceIdentifier":"1eb5b561-945d-3ad6-0e40-b56db2473b24"},"labelIndex":0,"zIndex":26,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"3bfbb3c0-d79a-309b-9cb6-a7dd4adccebb","instanceIdentifier":"63455698-0197-1000-2a8a-d0d4438270b2","name":"","source":{"id":"c33aad0c-2096-3f21-af24-adb25c9ac0bb","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"RouteOnAttribute","comments":"","instanceIdentifier":"633eeaee-0197-1000-d4d2-8b7bd9e95841"},"destination":{"id":"96f76b15-a313-3c67-b6c3-4ef22ef9e0a8","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ReplaceText","comments":"","instanceIdentifier":"3ac37721-0f10-3906-bef9-e5a3dfc6132a"},"labelIndex":0,"zIndex":95,"selectedRelationships":["has_required_fields"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"8596bc4b-71e8-3571-88ae-069055630a14","instanceIdentifier":"79a679d7-352f-3168-41f7-ccb9c7db1b0c","name":"","source":{"id":"36887732-7da4-3dc1-8eaa-a14fcee041fa","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ExtractText","comments":"","instanceIdentifier":"73895b3e-4f75-3103-596c-4239c4135b1c"},"destination":{"id":"36887732-7da4-3dc1-8eaa-a14fcee041fa","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ExtractText","comments":"","instanceIdentifier":"73895b3e-4f75-3103-596c-4239c4135b1c"},"labelIndex":0,"zIndex":45,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1283.0,"y":-401.0},{"x":-1283.0,"y":-351.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"43870ad9-6095-3991-ba47-0201df9c1926","instanceIdentifier":"69355726-c5b5-3e84-a8ca-af686ba25826","name":"","source":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ConvertRecord","comments":"","instanceIdentifier":"1eb5b561-945d-3ad6-0e40-b56db2473b24"},"destination":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ConvertRecord","comments":"","instanceIdentifier":"1eb5b561-945d-3ad6-0e40-b56db2473b24"},"labelIndex":0,"zIndex":44,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1269.0,"y":-788.0},{"x":-1269.0,"y":-738.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"5fe87dd4-66ca-3388-a918-76a5e9564d13","instanceIdentifier":"7447134a-ad2f-39e3-5481-dd5af654e426","name":"","source":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"InvokeHTTP","comments":"","instanceIdentifier":"b8813b6e-e0ef-30f0-9348-0231f04eacc5"},"destination":{"id":"9b868d33-790a-3d76-8e61-f5422df8365e","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"PublishSlack","comments":"","instanceIdentifier":"0feba953-f964-38d3-98be-aa5e943a24be"},"labelIndex":0,"zIndex":67,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"d85542a0-7290-3803-8a07-ddbc8be66e21","instanceIdentifier":"49cbe524-5c79-34ae-6555-bee954c9ac38","name":"","source":{"id":"6f922fe6-3155-3362-88ac-3addf4a7c8d3","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ExtractText","comments":"","instanceIdentifier":"ddaf3ffc-fc01-33f7-c0a9-eadda551cdda"},"destination":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ExecuteSQL","comments":"","instanceIdentifier":"0bae255e-5a88-39dc-a80c-71aa12d90a6c"},"labelIndex":0,"zIndex":22,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"1cd0543a-9d35-3acb-af8f-16e8a6311e13","instanceIdentifier":"66c95b59-cd1d-3bd7-f0d4-32e975665af7","name":"","source":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"SplitJson","comments":"","instanceIdentifier":"c183b78b-a59e-3f43-73d5-afad7d15be08"},"destination":{"id":"36887732-7da4-3dc1-8eaa-a14fcee041fa","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ExtractText","comments":"","instanceIdentifier":"73895b3e-4f75-3103-596c-4239c4135b1c"},"labelIndex":0,"zIndex":28,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"5ba3c3c2-abae-3bbc-8a45-48436bd75a5c","instanceIdentifier":"acf1a3f3-9400-36cb-3dbd-3a83b968d0d5","name":"","source":{"id":"96f76b15-a313-3c67-b6c3-4ef22ef9e0a8","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ReplaceText","comments":"","instanceIdentifier":"3ac37721-0f10-3906-bef9-e5a3dfc6132a"},"destination":{"id":"d67e924d-2a91-3c45-8b91-7865934031f6","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"UpdateAttribute","comments":"","instanceIdentifier":"89415b64-6146-35ff-a06b-99a1cf7532e6"},"labelIndex":0,"zIndex":54,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"eb34f043-cb52-3bee-aea4-24d3079c88cd","instanceIdentifier":"10ec7817-5e0d-3d4c-c7a3-d6b9a5a91113","name":"","source":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ExecuteSQL","comments":"","instanceIdentifier":"0bae255e-5a88-39dc-a80c-71aa12d90a6c"},"destination":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ExecuteSQL","comments":"","instanceIdentifier":"0bae255e-5a88-39dc-a80c-71aa12d90a6c"},"labelIndex":0,"zIndex":43,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1263.6547546386719,"y":-966.36572265625},{"x":-1263.6547546386719,"y":-916.36572265625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"dc4927bf-2b84-3d17-aa42-f03b52d4f032","instanceIdentifier":"a09ac629-7330-3aad-00c7-e5e6675c61ab","name":"","source":{"id":"5544dda7-7949-3f6f-9b9e-d6461c791241","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"GenerateFlowFile","comments":"","instanceIdentifier":"bab9f67f-d0cc-3bd5-54fe-9e4402e0d47c"},"destination":{"id":"9b868d33-790a-3d76-8e61-f5422df8365e","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"PublishSlack","comments":"","instanceIdentifier":"0feba953-f964-38d3-98be-aa5e943a24be"},"labelIndex":0,"zIndex":70,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"6d8ca337-7ca3-3b9f-8ae2-242e35d084b0","instanceIdentifier":"f53ab4f8-8e4b-3f8e-1005-caa52bfd10cf","name":"","source":{"id":"bbab8155-2267-36c0-9368-87a840f7e106","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ExecuteSQL","comments":"","instanceIdentifier":"faf6dafa-c886-33a7-721c-c6a674f2d258"},"destination":{"id":"9b868d33-790a-3d76-8e61-f5422df8365e","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"PublishSlack","comments":"","instanceIdentifier":"0feba953-f964-38d3-98be-aa5e943a24be"},"labelIndex":0,"zIndex":68,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"4056fd3e-9e63-3744-8c71-87f9dd225e31","instanceIdentifier":"6345e25b-0197-1000-2f8b-3b00b4f18fd3","name":"","source":{"id":"2815a797-51b3-34b0-9188-99680da28c02","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"JoltTransformJSON","comments":"","instanceIdentifier":"5af12eec-0b5d-3a4f-215a-481497dce9cd"},"destination":{"id":"c20d9d48-883c-3f39-8da7-259614145012","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"835093a2-e793-33ba-0f10-8e5fc12a7519"},"labelIndex":0,"zIndex":97,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"be8edd65-c864-3734-9f91-b0abd8922686","instanceIdentifier":"62cf0b3e-0197-1000-a6d4-1d4f1339f875","name":"","source":{"id":"d67e924d-2a91-3c45-8b91-7865934031f6","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"UpdateAttribute","comments":"","instanceIdentifier":"89415b64-6146-35ff-a06b-99a1cf7532e6"},"destination":{"id":"bbab8155-2267-36c0-9368-87a840f7e106","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ExecuteSQL","comments":"","instanceIdentifier":"faf6dafa-c886-33a7-721c-c6a674f2d258"},"labelIndex":0,"zIndex":91,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"2116e669-9b28-394a-ac1f-b87399cbe4bc","instanceIdentifier":"167e6cc7-a302-3bef-fa87-8a40ade2215d","name":"","source":{"id":"deb5d139-ad65-37ff-9c9d-1bffeb22dc36","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ConvertRecord","comments":"","instanceIdentifier":"1eb5b561-945d-3ad6-0e40-b56db2473b24"},"destination":{"id":"62731a8d-e910-3d66-9a45-fbcbb249f57a","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"SplitJson","comments":"","instanceIdentifier":"c183b78b-a59e-3f43-73d5-afad7d15be08"},"labelIndex":0,"zIndex":27,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"5c0d3eed-15cd-3b9d-9ca4-76b3dd602e3b","instanceIdentifier":"acf1e9f9-85a9-3285-9db0-9fa309b22bff","name":"","source":{"id":"f595b30d-d0f3-3d24-81c9-1774ccfd74a5","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"GenerateTableFetch","comments":"","instanceIdentifier":"d75b3ee5-4380-3512-213c-20c141cbda7e"},"destination":{"id":"6f922fe6-3155-3362-88ac-3addf4a7c8d3","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ExtractText","comments":"","instanceIdentifier":"ddaf3ffc-fc01-33f7-c0a9-eadda551cdda"},"labelIndex":0,"zIndex":21,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"874581cf-b1f6-3d3f-8479-1598568f2390","instanceIdentifier":"d843a4ae-c322-3338-4135-5d3d3d9a9feb","name":"","source":{"id":"2815a797-51b3-34b0-9188-99680da28c02","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"JoltTransformJSON","comments":"","instanceIdentifier":"5af12eec-0b5d-3a4f-215a-481497dce9cd"},"destination":{"id":"9b868d33-790a-3d76-8e61-f5422df8365e","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"PublishSlack","comments":"","instanceIdentifier":"0feba953-f964-38d3-98be-aa5e943a24be"},"labelIndex":0,"zIndex":71,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"b8ca7a21-45b4-3518-9c86-6fbaed8a0bef","instanceIdentifier":"ddd64261-1a17-38ba-0b65-18fb1d1776fd","name":"","source":{"id":"2815a797-51b3-34b0-9188-99680da28c02","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"JoltTransformJSON","comments":"","instanceIdentifier":"5af12eec-0b5d-3a4f-215a-481497dce9cd"},"destination":{"id":"2815a797-51b3-34b0-9188-99680da28c02","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"JoltTransformJSON","comments":"","instanceIdentifier":"5af12eec-0b5d-3a4f-215a-481497dce9cd"},"labelIndex":0,"zIndex":48,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1283.0,"y":231.0},{"x":-1283.0,"y":281.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"7eb51380-6442-30ff-9364-1d266a2234fb","instanceIdentifier":"7d566955-67cc-3536-1a77-977cb95c9195","name":"","source":{"id":"36887732-7da4-3dc1-8eaa-a14fcee041fa","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ExtractText","comments":"","instanceIdentifier":"73895b3e-4f75-3103-596c-4239c4135b1c"},"destination":{"id":"7aec2e5d-30aa-3057-975f-37513d2c87f5","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"UpdateAttribute","comments":"","instanceIdentifier":"7fbae513-a90b-3a90-9a27-f68ec0caca15"},"labelIndex":0,"zIndex":31,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"d85f00f8-611b-3d40-b932-cf38608948e8","instanceIdentifier":"e8a53ce7-815a-3daf-89a9-3a09e7ea4d91","name":"","source":{"id":"96684003-2cb8-3da7-bc0e-6b8719add7a3","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ExecuteSQL","comments":"","instanceIdentifier":"0bae255e-5a88-39dc-a80c-71aa12d90a6c"},"destination":{"id":"9b868d33-790a-3d76-8e61-f5422df8365e","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"PublishSlack","comments":"","instanceIdentifier":"0feba953-f964-38d3-98be-aa5e943a24be"},"labelIndex":0,"zIndex":66,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"7ebe991e-471e-3411-9592-b2b75f09df2a","instanceIdentifier":"b409708a-8d98-3cdf-d68c-c02c6acb54db","name":"","source":{"id":"c20d9d48-883c-3f39-8da7-259614145012","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"835093a2-e793-33ba-0f10-8e5fc12a7519"},"destination":{"id":"c20d9d48-883c-3f39-8da7-259614145012","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"835093a2-e793-33ba-0f10-8e5fc12a7519"},"labelIndex":0,"zIndex":50,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1299.0,"y":423.0},{"x":-1299.0,"y":473.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"8440c96f-efad-3bf4-8938-005a4d5dea41","instanceIdentifier":"a2d62fc7-2b1f-3710-a058-8b6184bc975a","name":"","source":{"id":"96f76b15-a313-3c67-b6c3-4ef22ef9e0a8","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ReplaceText","comments":"","instanceIdentifier":"3ac37721-0f10-3906-bef9-e5a3dfc6132a"},"destination":{"id":"96f76b15-a313-3c67-b6c3-4ef22ef9e0a8","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"ReplaceText","comments":"","instanceIdentifier":"3ac37721-0f10-3906-bef9-e5a3dfc6132a"},"labelIndex":0,"zIndex":53,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1292.0,"y":830.0},{"x":-1292.0,"y":880.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"2c8a8b64-cedd-3ea8-886e-a354c30f2262","instanceIdentifier":"abe624e7-a829-3a0a-8450-b4288ac8556a","name":"","source":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"InvokeHTTP","comments":"","instanceIdentifier":"b8813b6e-e0ef-30f0-9348-0231f04eacc5"},"destination":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"InvokeHTTP","comments":"","instanceIdentifier":"b8813b6e-e0ef-30f0-9348-0231f04eacc5"},"labelIndex":0,"zIndex":41,"selectedRelationships":["Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1265.7255859375,"y":11.332592010498047},{"x":-1265.7255859375,"y":61.33259201049805}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"2d10f085-b99e-39c0-b2ae-8ad103597475","instanceIdentifier":"cbb06bef-2c4b-3302-1874-8b78982bd32e","name":"","source":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"InvokeHTTP","comments":"","instanceIdentifier":"b8813b6e-e0ef-30f0-9348-0231f04eacc5"},"destination":{"id":"2815a797-51b3-34b0-9188-99680da28c02","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"JoltTransformJSON","comments":"","instanceIdentifier":"5af12eec-0b5d-3a4f-215a-481497dce9cd"},"labelIndex":0,"zIndex":60,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"1afe8d75-ae99-3702-98d5-7a5ca71bac5d","instanceIdentifier":"2fe9bbf2-3979-3b15-f5c1-010b8d6da538","name":"","source":{"id":"7aec2e5d-30aa-3057-975f-37513d2c87f5","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"UpdateAttribute","comments":"","instanceIdentifier":"7fbae513-a90b-3a90-9a27-f68ec0caca15"},"destination":{"id":"c2597881-85ef-3cb3-8769-1ec04a069ebc","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"InvokeHTTP","comments":"","instanceIdentifier":"b8813b6e-e0ef-30f0-9348-0231f04eacc5"},"labelIndex":0,"zIndex":61,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"cea4b57a-82bc-3cef-a7cf-cc023f71bd8f","instanceIdentifier":"26f56b14-218d-3eb2-4def-b31294523c13","name":"","source":{"id":"c20d9d48-883c-3f39-8da7-259614145012","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"835093a2-e793-33ba-0f10-8e5fc12a7519"},"destination":{"id":"c33aad0c-2096-3f21-af24-adb25c9ac0bb","type":"PROCESSOR","groupId":"ac60e10d-d441-3f2b-a0d3-a3300e411828","name":"RouteOnAttribute","comments":"","instanceIdentifier":"633eeaee-0197-1000-d4d2-8b7bd9e95841"},"labelIndex":0,"zIndex":51,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"}],"labels":[],"funnels":[{"identifier":"cbb5f544-1d2e-39da-80f8-08f2aafa8041","instanceIdentifier":"62b8d3aa-0197-1000-4c8f-935de19ff71e","position":{"x":-2072.0,"y":800.0},"componentType":"FUNNEL","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"dc044005-a025-3ae2-871b-5c08c82db703","instanceIdentifier":"62bdd26a-0197-1000-7db8-56f364511c0d","position":{"x":-2152.0,"y":1200.0},"componentType":"FUNNEL","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"d63c7da2-bdbb-3c04-bde4-31fe44f42adf","instanceIdentifier":"6103262d-0197-1000-c33e-a1689b454b4e","position":{"x":-368.8143572140773,"y":1269.0368113827126},"componentType":"FUNNEL","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"}],"controllerServices":[{"identifier":"8573c07a-35aa-3a72-bbd5-6d0fe3d3c511","instanceIdentifier":"1aff0a6f-0fb7-34f7-45a1-995c013b060c","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"5d2c0c19-6683-3e28-882d-f29aa981ad83","instanceIdentifier":"62c020fe-8f2c-3c02-d354-0ffa55840eb6","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"},{"identifier":"19ceac6a-240c-3880-a111-1b3710fa7759","instanceIdentifier":"1f589a4a-39fb-332c-0583-837c25bbead8","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ac60e10d-d441-3f2b-a0d3-a3300e411828"}],"parameterContextName":"HitscanParameters (4)","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"caac58d4-961c-3443-961a-d8d6b2a39138":{"identifier":"caac58d4-961c-3443-961a-d8d6b2a39138","name":"DBCPConnectionPool_hitscan"},"8ca7de69-cf77-308c-a5b7-8697ec2fc9a9":{"identifier":"8ca7de69-cf77-308c-a5b7-8697ec2fc9a9","name":"DBCPConnectionPool_stage_redshift"}},"parameterContexts":{"HitscanParameters (4)":{"name":"HitscanParameters (4)","parameters":[{"name":"User","description":"","sensitive":false,"provided":false,"value":"stage-user"},{"name":"Host","description":"","sensitive":false,"provided":false,"value":"staging-redshift.ciqb81brdshb.us-west-2.redshift.amazonaws.com"},{"name":"Port","description":"","sensitive":false,"provided":false,"value":"5439"},{"name":"Record Reader","description":"","sensitive":false,"provided":false,"value":"JsonTreeReader"},{"name":"DB_name","description":"","sensitive":false,"provided":false,"value":"stage"}],"inheritedParameterContexts":["Youtube API key"],"componentType":"PARAMETER_CONTEXT"},"Youtube API key":{"name":"Youtube API key","parameters":[{"name":"api_key","description":"","sensitive":false,"provided":false,"value":"AIzaSyCz7mEWTtpYlYp9COoa_DSX3DYoT9vX6wA"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}